﻿
@{
    ViewBag.Title = "user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .dibba {
        border: 1px solid;
        height: 50%;
    }
</style>

<div class="row" style="width:97.6%; margin:auto; height:445px;">
    <div class="col-md-12 dibba">
        <div>
            <p>
                <h4 style="margin-left:2%">All User</h4>
            </p>
        </div>
        <hr />
        <table style="margin-left: 2%;">


            <tr><td><a href="/User/DepartmentSearch">View Department</a></td></tr>
            <tr><td><a href="/User/ViewPerson">Search A Person</a></td></tr>
            @*<tr><td><a href="">View Monthly Attendece </a></td></tr>*@
            <tr><td><a href="/User/ViewAttendece">View Monthly Attendece  </a></td></tr>
            @*<tr><td><a href="#">Edit Favorites</a></td></tr>*@

        </table>
        <!--<p style="text-align:center">All Users</p>-->
    </div>
    </div>

