﻿@model HRPayroll.Models.ViewModels.EmployeeListModel

@{
    ViewBag.Title = "ViewPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewPerson</h2>

<div style="width:80%; margin:auto">


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">
                <input name="term" placeholder="Search by name" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-info" />
                <a href="/User/ViewPerson" class="btn btn-primary">All</a>
            </div>

            @*<div class="col-md-1"><a href="/Product/Add" class="btn btn-primary">Add more</a></div>*@
        </div>
    }
    @if (Model.emplist.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    EmpId
                </th>
                <th>Name</th>
                <th>Department Name</th>
                <th>Organisation Name</th>

            </tr>
            @foreach (var item in Model.emplist)
            {
                <tr>
                    <td>@item.EmpId</td>
                    <td>
                        @item.Name
                    </td>
                    <td>@item.DeptName</td>
                    <td>@item.OrgName</td>

                    <td></td>
                </tr>
            }
        </table>
        @*<ul class="pagination">
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    if (Model.Page == i)
                    {
                        <li class="active"><a href="/Admin/ViewPerson?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="/Admin/ViewPerson?page=@i">@i</a></li>
                    }
                }

            </ul>*@
    }

    else
    {
        <h4>No records found</h4>
    }
</div>


