﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HR Payroll</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Styles/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    @*<script src="/scripts/jquery-1.12.4.min.js"></script>*@
    <script src="/scripts/jquery-ui-1.12.1.js"></script>
    <script src="/scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>  
    @RenderSection("scripts", false)
    
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
   
   
    <style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            /* Style the topnav links */
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                /* Change color on hover */
                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        /* Style the content */
        .content {
            background-color: #ddd;
            padding: 10px;
            height: 200px; /* Should be removed. Only for demonstration */
        }

        /* Style the footer */
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }

    </style>
    <style media="print">
         .noPrint {
        display: none;
        }
    

    </style>

  

</head>
<body ng-app="">
    @*<div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                <!--header start here-->
                <!--heder end here-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="Index.aspx">Home</a> <i class="fa fa-angle-right"></i></li>
                    <i class="fa fa-angle-right"></i></li>
                    <li class="breadcrumb-item">
                        <asp:LinkButton ID="lkSignOut" runat="server" OnClick="lkSignOut_Click">SignOut</asp:LinkButton>  <i class="fa fa-angle-right"></i>
                    </li>

                </ol>
                <div> @RenderBody() </div>
                <!--//agileinfo-grap-->
                <!-- script-for sticky-nav -->
                <script>
		    $(document).ready(function () {
		        var navoffeset = $(".header-main").offset().top;
		        $(window).scroll(function () {
		            var scrollpos = $(window).scrollTop();
		            if (scrollpos >= navoffeset) {
		                $(".header-main").addClass("fixed");
		            } else {
		                $(".header-main").removeClass("fixed");
		            }
		        });

		    });
                </script>
                <!-- /script-for sticky-nav -->
                <!--inner block start here-->
                <div class="inner-block">

                </div>
                <!--inner block end here-->
                <!--copy rights start here-->
                <div class="copyrights">
                    <p>© 2018 Saroj Group
                </div>
            </div>
            @if (Role == "Admin")
            {
                <div>
                    @Html.RenderPartial("_SidebarMenu","");
                </div>
            }*@

            <div class="topnav noPrint">
                 @*Menus as per Different Role*@ 
                  
                @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Admin"))
                {
                    <a href="/Admin/Admin">Home</a>
                    <a href="/Admin/EditAttendence">Mark Attendence</a>
                    <a href="/Admin/CreateEmployee">New Employee</a>
                    <a href="/Admin/IssueAdvance">Issue Advance</a>
                    <a href="/Admin/CasualLeave">Mark CL's</a>
                    <a href="/Admin/employee">Mark NCL's</a>
                }
                   
                @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole
("SemiAdmin"))
                {
                    <a href="/Semi/Semi">Home</a>
                    <a href="#">SemiAdmin</a>
                    <a href="#">SemiAdmin</a>

                }
                @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole
("User"))
                {
                    <a href="/User/User">Home</a>
                    <a href="#">User</a>
                    <a href="#">User</a>

                }
                    <a href="#">Favorites</a>
                    <a href="/Login/Logout">Sign Out</a>
                    </div>

                    <div class="row noPrint" style="margin-top: 1%;     margin-right: 0%;">
                        <div class="col-md-4" style="padding-left: 3%;" >
                            Welcome : @Session["name"]
                            <br />
                            Last Login on : @Session["time"]

                        </div>
                        <div class="col-md-4" >
                             <h3 style="padding-left: 22%;">
                                Salary Manager
                            </h3>
                        </div>
                        <div class="col-md-4" style="padding-left: 25%;"  >
                               <a id="btnSignOut" href="/Login/Logout">Sign Out</a>

                        </div>
                    </div>
                    <hr />
                    <div>

                        @RenderBody()
                    </div>

                    <div class="footer noPrint" style="text-align:center">
                        <p >
                            ©
                            <script> var date = document.write(new Date().getFullYear()); document.getElementById("year").innerHTML = date;  </script>
                        <p style="text-align:center"></p><p>HR Payroll</p>
                </div>
</body>
</html>
