﻿@model HRPayroll.Models.ViewModels.SalaryMasters


@{
    ViewBag.Title = "ChangeStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm())
{
    <div class="row" style="margin-left:25% ">
        <div class="col-md-3" style="margin-right: -3%;">
            @Html.DropDownListFor(x => x.OrgId, Model.OrgList, "Select Organization", new { @class = "", style = "width=3.25rem" })
        </div>
        <div class="col-md-1">
            <input type="button" value="Go" id="btnGo" />
        </div>
        <div class="col-md-3" style="margin-right: -8%;">
            @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "", style = "width=3.25rem" })
        </div>
        <div class="col-md-3" style="margin-right: -11%;">

            <select name="Month">
                <option selected value=''>Select Month</option>
                <option value="1">Janaury</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
        </div>
    </div>
}
<table class="table table-responsive" style="padding-left: 56px !important;
    padding-top: 2% !important;">
<thead>

    <tr>
        @*<th style="border: 1px solid black;">Sr.No.</th>*@
        <th style="border: 1px solid black;">Employee Name</th>
        @*<th style="border: 1px solid black;">Generate Status</th>*@
        <th style="border: 1px solid black;">Current Salary</th>
        <th style="border: 1px solid black;">TP</th>
        <th style="border: 1px solid black;">TL</th>
        <th style="border: 1px solid black;">CLs</th>
        <th style="border: 1px solid black;">NCLs</th>
        <th style="border: 1px solid black;">FLs</th>
        <th style="border: 1px solid black;">Leave Amount</th>
        <th style="border: 1px solid black;">Advance Balance</th>
        <th style="border: 1px solid black;">Adjusted Advance</th>
        <th style="border: 1px solid black;">Encashed CLs</th>
        <th style="border: 1px solid black;">Amount</th>
        <th style="border: 1px solid black;">Salary</th>
        <th style="border: 1px solid black;">Status</th>
        <th style="border: 1px solid black;">Action</th>
    </tr>
</thead>
<tbody>
    @if (Model.salaryMasterPost == null)
    {

    }
    else
    {

        <h2 style="text-align:center; color:rebeccapurple">Salary Status Of Month: <span style="color:blue">@ViewBag.Status</span></h2>
        foreach (var sal in Model.salaryMasterPost)
        {
    <tr>
        <td><input type="hidden" value="@sal.Emp_Id"/>@sal.Name</td>
        <td>@sal.salary</td>
        <td>@sal.TP</td>
        <td>@sal.TL</td>
        <td>@sal.CL1</td>
        <td>@sal.ncl</td>
        <td>@sal.total</td>
        <td>@sal.LeaveAmount</td>
        <td>@sal.AdvanceAmount</td>
        <td>@sal.adjustedAmt1</td>
        <td>@sal.encashed</td>
        <td>@sal.amount</td>
        <td>@sal.salary</td>
        <td>@sal.Status</td>
        <td>
        @*@if (Convert.ToInt32(Model.salaryMasterPost.FirstOrDefault().IsPaid) == 1)
        {

            <a href="/Salary/updateSalary?Id=@sal.Emp_Id" class="btn btn-primary">Paid</a>
        }
        else
        {
            <a href="/Salary/updateSalary?Id=@sal.Emp_Id" class="btn btn-primary">Not Paid</a>
        }*@

            <a href="/Salary/printSalarySlip?Emp_Id=@sal.Emp_Id" class="btn btn-primary">Print</a>
        </td>
    </tr>
        }
    }
</tbody>
    
</table>
<div style="margin-left:53% !important; margin-bottom:1%">
    <button onclick="window.print();" class="noPrint btn btn-primary">Print Page</button>
</div>

<script src="/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#btnGo").click(function () {
        var OrganisationId = $("#OrgId").val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Salary/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for (let i = 0; i < response.length; i++) {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function (error) {

                console.log(error.responseText);
            }
        });
    });
</script>

