﻿@model HRPayroll.Models.ViewModels.SalaryMasters
@{
    ViewBag.Title = "printSalarySlip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Salary Slip of Month: @DateTime.Now.AddMonths(-1).ToString("MMMM")</h2>

@using (Html.BeginForm())
{
    <table class="table table" style="padding-left: 29% !important; border-collapse: collapse; ">
        <tr>
            <td>Date</td>
            <td>@DateTime.Today.ToShortDateString()</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <b>Emoloyee Name:</b>
            </td>
            <td>
                @Model.salaryMasterPost.FirstOrDefault().Name
            </td>
            <td>
                <b>Organisation Name:</b>
            </td>
            <td>@Model.salaryMasterPost.FirstOrDefault().OrgName</td>
        </tr>
        <tr>
            <td>
                <b>Department Name:</b>
            </td>
            <td>
                @Model.salaryMasterPost.FirstOrDefault().DeptName
            </td>
            <td>
                <b>Current Month Salary:</b>
            </td>
            <td>@Model.salaryMasterPost.FirstOrDefault().CurrentSalary</td>
        </tr>
        <tr>
            <td>
                <b>Leave Amount:</b>
            </td>
            <td>
                @Model.salaryMasterPost.FirstOrDefault().LeaveAmount
            </td>
            <td>
                <b>Encashed Amount:</b>
            </td>
            <td>@Model.salaryMasterPost.FirstOrDefault().amount</td>
        </tr>
        <tr>
            <td>
             <b>Net Salary</b>
            </td>
            <td>
                @Model.salaryMasterPost.FirstOrDefault().salary
            </td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
    <div style="margin-left:53% !important; margin-bottom:1%">
        <button onclick="window.print();" class="noPrint btn btn-primary">Print</button>
    </div>
}

<style>
    td{
        border: 1px solid black;

    }

</style>