﻿@model HRPayroll.Models.ViewModels.salarylist


@{
    ViewBag.Title = "salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int month = Convert.ToInt32(ViewBag.mth);
    
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

@using (Html.BeginForm())
{ 

<div class="row" style="margin-left:5%; margin-bottom:3% ">
    <div class="col-md-3" style="margin-right: -3%;">
       @Html.DropDownListFor(x => x.OrgId, Model.OrgList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
    </div>
    <div class="col-md-1" style="margin-left:2%">
        <input type="button" class="btn btn-primary" value="Go" id="btnGo"/>
    </div>
    <div class="col-md-3" style="">
       @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
    </div>
    <div class="col-md-3" style="margin-right: -11%;">
        <select name="Month" class="form-control" style="height: calc(3.25rem + 2px) !important;">
            <option selected value=''>Select Month</option>
            <option value="1">Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
        </select>
    </div>
    <div class="col-md-2" style="margin-left: 10%;">
        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
    </div>
</div>
    
}
@Html.HiddenFor(a => a.OrgId)
@Html.HiddenFor(a => a.DeptId)
@if (Model.OrgId == null && Model.DeptId == null && month == null)
{


}
else
{
<table class="table table-responsive">
    <tr>
        <td width="33%"></td>
        <td width="33%" style="padding-left: 56px !important;">
        @if (ViewBag.msg != null)
        {
            <span>All Attendence Updated Yes/ No : @ViewBag.Msg</span>
        }</td>
        <td width="33%" class="@( @ViewBag.Msg == @ViewBag.clr ? "red" : @ViewBag.Msg == @ViewBag.clr ? "blue" : "red")"></td>
        <td width="33%"></td>
    </tr>
    <tr>
        <td width="33%"></td>
        <td width="33%" style="padding-left: 79px !important;">
            @if (ViewBag.clr != null)
            {
               <span> @ViewBag.clr : <a href="/Admin/EditAttendece">To Continue</a></span>
            }
            @if(ViewBag.clr1 != null)
            {
                <span> Salary List of the Month: @ViewBag.clr1 </span>

            }
        </td>
        <td width="33%"></td>
        <td width="33%"></td>
    </tr>

</table>

if (Model.BasicDetails == null)
    {

    }
    else
    {
        @*<table  class="table table-responsive" id="table" style="border-collapse: collapse; padding-left:56px; ">
            <thead>
                <tr>
                    <th id="test">
                        Basic
                    </th>
                    <th id="test2">
                        Leaves
                    </th>
                    <th id="test1">
                        Advance
                    </th>
                    <th id="test3">
                        Encashment
                    </th>
                    <th id="test">
                        Final Salary
                    </th>
                </tr>
            </thead>

        </table>*@
<table class="table table-responsive" id="table" style="border-collapse: collapse;">
    <thead>
     
        <tr>
            <th style="border: 1px solid black;">Sr.No.</th>
            <th style="border: 1px solid black;">Employee Name</th>
            <th style="border: 1px solid black;">Current Salary</th>
            <th style="border: 1px solid black;">Generate Status</th>
            <th style="border: 1px solid black;">TP</th>
            <th style="border: 1px solid black;">TL</th>
            <th style="border: 1px solid black;">CLs</th>
            <th style="border: 1px solid black;">NCLs</th>
            @*<th style="border: 1px solid black;">Action 1</th>*@
            <th style="border: 1px solid black;">FLs</th>
            @*<th style="border: 1px solid black;">Action 2</th>*@
            <th style="border: 1px solid black;">Leave Amount</th>
            <th style="border: 1px solid black;">Advance Balance</th>
            <th style="border: 1px solid black;">Adjusted Advance</th>
            <th style="border: 1px solid black;">Encashed CLs</th>
            @*<th style="border: 1px solid black;">Action 3</th>*@
            <th style="border: 1px solid black;">Amount</th>
            @*<th style="border: 1px solid black;">Action 4</th>*@
            <th style="border: 1px solid black;">Salary</th>
            @*<th style="border: 1px solid black;">Action</th>*@
        </tr>
    </thead>
    <tbody>
       @if (true)
       {
           int c = 1;
           foreach (var test in Model.BasicDetails)
           {


               string TL = "TL" + c;
               string CL = "CL" + c;
               string NCL = "NCL" + c;

            <tr>
                <td style="border: 1px solid black;">@test.Serial_No</td>
                <td style="border: 1px solid black;"><input type="hidden" value="@test.EmpId" id="id" />
                    <input type="hidden" value="@test.OrgId" id="Orgid" />
                    <input type="hidden" value="@test.DeptId" id="Deptid" />
                @test.Name</td>
                <td style="border: 1px solid black;"><span id="sal">@Html.Action("getSal", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</span></td> @*salary*@
                <td style="border: 1px solid black;">
                    @Html.DropDownList("Status", new List<SelectListItem>() { new SelectListItem() { Text = "Not Paid", Value = "Not Paid" }, new SelectListItem() { Text = "Paid", Value = "Paid", } }, new { onchange = @"report(this);" })
            </td>
                <td style="border: 1px solid black;"><span id="TP">@Html.Action("getTp", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId }) </span></td> @*tp*@
                <td style="border: 1px solid black;"><span id="">@Html.Action("getTl", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</span></td> @*tl*@
                <td style="border: 1px solid black;"><input type="text" name="CL1" onchange="calculate(this)" id="CL1" style="width:31px" />@Html.Action("getCL", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</td> @*cl*@
                <td style="border: 1px solid black;"><input type="text" name="ncl" onchange="calculateNCL(this)"  id="ncl" value="0" style="width:31px" />@Html.Action("getncl", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</td>
                @*<td style="border: 1px solid black;"><i class="fa fa-check"><input type="button" id="btnCheck" value="check" onclick="check(this)" class="btn btn-warning" /></i></td>*@
                <td style="border: 1px solid black;"><span id="total" style="color:red; font-size:medium"></span></td>
                @*<td style="border: 1px solid black;"><i class="fa fa-check"><input type="button" id="btnleave" value="Calculate" class="btn btn-warning" onclick="amount(this)" /></i></td>*@
                <td style="border: 1px solid black;"><span id="LeaveAmount" style="color:red; font-size:medium"></span></td>
                <td style="border: 1px solid black;"><span id="AdvanceBal">@Html.Action("getAdvance", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</span></td> 
                <td style="border: 1px solid black;"><input type="text" onchange="Totalamount(this)" name="adjustedAmt1" id="adjustedAmt1" value="0" style="width:31px" /><span id="adjustedAmt">@Html.Action("Adjusted", "Salary", new { OrgId = test.OrgId, DeptId = test.DeptId, Mth = month, empId = test.EmpId })</span></td>
                <td style="border: 1px solid black;"><input type="text" name="encashed" onchange="encashAmount(this)" id="encashed" value="0" style="width:31px" /><span id="demo" style="color:red"></span></td>
                @*<td style="border: 1px solid black;"><input type="button"value="Calc" id="btnEncash" onclick="checkamount(this)" class="btn btn-warning" /></td>*@
                <td style="border: 1px solid black;"><span id="amount" style="color:red;"></span></td> @*amount*@
                @*<td style="border: 1px solid black;">
                    <input type="button" value="Calculate" onclick="salary(this)" class="btn btn-warning" /> 
                </td>*@
                <td style="border: 1px solid black;"><span id="salary"  style="color:red; font-size:large"></span></td> @*salary*@
              </tr>
               ++c;
           }
       }
    </tbody>
       



</table>

        <div class="row">
            <div class="col-md-3 noPrint" style="padding-left: 39%;
    padding-bottom: 4%;">
                <input type="button" id="saveAll" value="Save All" style="cursor:pointer" class="btn btn-primary " />
            </div>
            <div class="col-md-3 noPrint" style="padding-left: 7%;">
                <a href="/Salary/ChangeStatus" class="btn btn-primary">View Generated Salary</a>
            </div>
            <div class="col-md-3">
                    <button onclick="window.print();" class="noPrint btn btn-primary">Print Page</button>
            </div>
        </div>
        }
    }

@*<table class="table table-responsive" style="padding-left: 332px !important;">
    <tr>
            <td>
                <a href="#">CL Ledger Update</a>

            </td>
            <td>
                <a href="#">NCL Ledger Update</a>
            </td>
            <td>
                <a href="#">Advance Ledger </a>
            </td>
            <td>

                <a href="#">CL Ledger</a>
            </td>
        </tr>
</table>*@
<script src="/scripts/jquery-1.12.4.min.js"></script>
<script src="/scripts/SaveSalary.js"></script>
<script>
  
    
    //button code for calculate Final Leaves with Total Leaves, NCL & CL
    function check(obj){
        debugger
        var cl = $(obj).closest('tr').find('#CL1').val();
        console.log(cl);
        var tl = $(obj).closest('tr').find("#TL").text();
        console.log(tl);
        var ncl = $(obj).closest('tr').find('#ncl').val();
        console.log(ncl);
        var total = Math.round((tl - ncl - cl));
        console.log(total);
        var test = $(obj).closest('tr').find('#total').text(total);
        var salary = $(obj).closest('tr').find("#sal").text();
        var test = $(obj).closest('tr').find('#salary').text(salary);
        console.log(test);
    };

    //button code for calculate Amount with Encashed CLs
    function checkamount(obj){
        debugger
        var salary = $(obj).closest('tr').find("#sal").text();
        console.log(salary);
        var Enc_cl = $(obj).closest('tr').find("#encashed").val();
        console.log(Enc_cl);
        var Amount = Math.round((salary / 30) * Enc_cl);
        console.log(LeaveAmount);
        var test = $(obj).closest('tr').find('#amount').text(Amount);
        console.log(test);
    };


    //button code for calculate Leave Amount
    function amount(obj) {
        debugger
        var total = $(obj).closest('tr').find('#total').text();
        console.log(total);
        var salary = $(obj).closest('tr').find("#sal").text();
        console.log(salary);
        var LeaveAmount = Math.round((salary / 30) * total);
        console.log(LeaveAmount);
        var test = $(obj).closest('tr').find('#LeaveAmount').text(LeaveAmount);
        var salary = $(obj).closest('tr').find("#sal").text();
        var LeaveAmount = $(obj).closest('tr').find("#LeaveAmount").text();
        var FinalSalary = Math.round(salary - LeaveAmount);
        var test = $(obj).closest('tr').find('#salary').text(FinalSalary);
        console.log(test);
    };

    function salary(obj) {
        debugger
        var salary = $(obj).closest('tr').find("#sal").text();
        var LeaveAmount = $(obj).closest('tr').find("#LeaveAmount").text();
        var AdvanceAdjusted = $(obj).closest('tr').find("#adjustedAmt1").val();
        var EncashAmount = $(obj).closest('tr').find("#amount").text();
        var FinalSalary = Math.round(salary-LeaveAmount-AdvanceAdjusted-EncashAmount);
        var test = $(obj).closest('tr').find('#salary').text(FinalSalary);
        console.log(test);
    };



    $("#btnGo").click(function () {
        var OrganisationId = $("#OrgId").val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Salary/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });


    //Disable or Enable textbox on dropdown change
    function report(obj) {
        debugger
        var Status = $(obj).val();
        if (Status == 'Paid') {
            $(obj).closest('tr').find('#CL1').attr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#ncl').attr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#adjustedAmt1').attr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#encashed').attr('disabled', 'disabled').val();
            } else
        {
            $(obj).closest('tr').find('#CL1').removeAttr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#ncl').removeAttr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#adjustedAmt1').removeAttr('disabled', 'disabled').val();
            $(obj).closest('tr').find('#encashed').removeAttr('disabled', 'disabled').val();
            }
    };

   //Salary Jquery
    function calculate(obj) {
        debugger
        var salary = $(obj).closest('tr').find("#sal").text();
        var LeaveAmount = $(obj).closest('tr').find("#LeaveAmount").text();
        var AdvanceAdjusted = $(obj).closest('tr').find("#adjustedAmt1").val();
        var EncashAmount = $(obj).closest('tr').find("#amount").text();
        var FinalSalary = Math.round(salary - LeaveAmount - AdvanceAdjusted - EncashAmount);
        var test = $(obj).closest('tr').find('#salary').text(FinalSalary);
    };

    //Change the Values on Change using CL and CL and show in Encashment CL
    function calculate(obj) {
        debugger
        var clSpan = $(obj).closest('tr').find('#CL').text();
        console.log(total);
        var clText = $(obj).closest('tr').find("#CL1").val();
        console.log(clText);
        if (clText > clSpan ||  clText== "") {
            alert("Kindly insert right value!!")
        }
        else {
            var bakwas = (parseInt(clSpan - clText))
            var test = $(obj).closest('tr').find('#demo').text(bakwas);
            var cl = $(obj).closest('tr').find('#CL1').val();
            console.log(cl);
            var tl = $(obj).closest('tr').find("#TL").text();
            console.log(tl);
            var ncl = $(obj).closest('tr').find('#ncl').val();
            console.log(ncl);
            var total = Math.round((tl - ncl - cl));
            console.log(total);
            var salary = $(obj).closest('tr').find("#sal").text();
            console.log(salary);
            var Enc_cl = $(obj).closest('tr').find("#encashed").val();
            console.log(Enc_cl);
            var Amount = Math.round((salary / 30) * Enc_cl);
            console.log(LeaveAmount);
            var test = $(obj).closest('tr').find('#amount').text(Amount);
            var test = $(obj).closest('tr').find('#total').text(total);
            var total = $(obj).closest('tr').find('#total').text();
            console.log(total);
            var salary = $(obj).closest('tr').find("#sal").text();
            console.log(salary);
            var LeaveAmount = Math.round((salary / 30) * total);
            console.log(LeaveAmount);
            var test = $(obj).closest('tr').find('#LeaveAmount').text(LeaveAmount);
            var FinalSalary = Math.round(salary - LeaveAmount);
            var test = $(obj).closest('tr').find('#salary').text(FinalSalary);
            console.log(test);
        }
    };

    function calculateNCL(obj) {
        debugger
        var clSpan = $(obj).closest('tr').find('#NCL').text();
        console.log(total);
        var clText = $(obj).closest('tr').find("#ncl").val();
        console.log(clText);
            if (clText > clSpan) {
                alert("Kindly insert minimum or equal value!!")
            }
            else {
                var bakwas = (parseInt(clSpan - clText))  //get Two Values
                $(obj).closest('tr').find('#demo').text(bakwas);
                var cl = $(obj).closest('tr').find('#CL1').val();
                var tl = $(obj).closest('tr').find("#TL").text();
                var ncl = $(obj).closest('tr').find('#ncl').val();
                var total = Math.round((tl - ncl - cl));

                var test = $(obj).closest('tr').find('#total').text(total);
                var total = $(obj).closest('tr').find('#total').text();
                var salary = $(obj).closest('tr').find("#sal").text();
                var LeaveAmount = Math.round((salary / 30) * total);
                $(obj).closest('tr').find('#LeaveAmount').text(LeaveAmount);
                var FinalSalary = Math.round(salary - LeaveAmount);
                $(obj).closest('tr').find('#salary').text(FinalSalary);
                console.log(test);

            }
        };

        function encashAmount(obj) {
            debugger
            var clSpan = $(obj).closest('tr').find("#demo").text();
            var clText = $(obj).closest('tr').find("#encashed").val();
            if (clText > clSpan || clText =="") {
                alert("Kindly insert any value!!")
            }
            else {
                var salary = $(obj).closest('tr').find("#sal").text();
                console.log(salary);
                var Enc_cl = $(obj).closest('tr').find("#encashed").val();
                console.log(Enc_cl);
                var Amount = Math.round((salary / 30) * Enc_cl);
                console.log(LeaveAmount);
                var test = $(obj).closest('tr').find('#amount').text(Amount);
                console.log(test);
                var salary = $(obj).closest('tr').find("#sal").text();
                var LeaveAmount = $(obj).closest('tr').find("#LeaveAmount").text();
                var AdvanceAdjusted = $(obj).closest('tr').find("#adjustedAmt1").val();
                var EncashAmount = $(obj).closest('tr').find("#amount").text();
                var FinalSalary = Math.round(salary - LeaveAmount - AdvanceAdjusted - EncashAmount);
                $(obj).closest('tr').find('#salary').text(FinalSalary);
            }
        };




        function Totalamount(obj) {
            debugger
            var clSpan = $(obj).closest('tr').find("#adjustedAmt").text();
            var clText = $(obj).closest('tr').find("#adjustedAmt1").val();
            if (clText > clSpan || clText == "" || clText==0) {
                alert("Kindly insert any value!!")
            }
            else {
                var salary = $(obj).closest('tr').find("#sal").text();
                var LeaveAmount = $(obj).closest('tr').find("#LeaveAmount").text();
                var AdvanceAdjusted = $(obj).closest('tr').find("#adjustedAmt1").val();
                var FinalSalary = Math.round(salary - LeaveAmount - AdvanceAdjusted);
                var test = $(obj).closest('tr').find('#salary').text(FinalSalary);
            }
        };
    
</script>

