﻿@model HRPayroll.Models.ViewModels.ChangePasswordDTO

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Change Password</h2>
<div style="margin:auto; width:80%;margin-top:5%">
@using (Html.BeginForm())
{
    @Html.HiddenFor(a=>a.Id)
   <div class="form-group">
       <div class="row">
           <div class="col-md-3">
           </div><div class="col-md-3">
    New Password:
</div>
<div class="col-md-3">
    @Html.PasswordFor(a => a.password)
    <span style="color:red">@Html.ValidationMessageFor(a => a.password)</span>
</div>
           <div class="col-md-3">
           </div>
</div>
       </div>
  
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
            </div><div class="col-md-3">
                Confirm Password:</div>
            <div class="col-md-3">
                @Html.PasswordFor(a => a.Confirmpwd)
                <span style="color:red">@Html.ValidationMessageFor(a => a.Confirmpwd)</span>
            </div>
                 <div class="col-md-3"></div>
             </div>
        @if (TempData["msg"] != null)
        {
            <span style="text-align:center; color:red; font-size:larger">@TempData["msg"]</span>
        }
            <div class="form-group" style="margin-top:5%">
                <div class="row">

                    <div class="col-md-2"></div>
                    
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><input type="submit" class="btn btn-primary" value="submit" /></div>
                    <div class="col-md-2"><a href="/Users/ShowUsers" class="btn btn-primary">Back</a></div>
                    <div class="col-md-2"></div>
                </div>
                 </div>


       
        </div>
}
</div>