﻿@model HRPayroll.Models.ViewModels.UserDTO


@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Profile</h2>
@using (Html.BeginForm())
{
    <table>
        @foreach(var item in Model.UsersChange)
        {
            <tbody>
                <tr>
                    <th>Name</th>
                    @Html.HiddenFor(a=>a.Id)
                    <td><input type="hidden" value="=@item.Id">@Html.TextBoxFor(a=>a.Name)</td>

                </tr>
                <tr>
                    <th>Role</th>
                    <td>@Html.DropDownListFor(a=>a.RoleId, Model.RoleName, new { style = "width=3.25rem" } )</td>

                </tr>
                <tr>
                    <th>Name</th>
                    <td>@Html.TextBoxFor(a => a.Username)</td>

                </tr>
                <tr>
                    <td><a href="" class="btn btn-primary">Move</a></td>
                    <td><input type="submit" value="Update" class="btn btn-primary"/></td>

                </tr>
                   </tbody>


        }

    </table>
    <td></td>


}
