﻿@model HRPayroll.Models.ViewModels.UserDTO

@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:brown">Registration of New User</h2>
<hr />
<div class="row">
    <div style="margin:auto; width:80%" class="col-md-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4"><a href="/Admin/Admin" class="btn btn-dark">Back to Home</a></div>
            <div class="col-md-4"> <a href="/Users/ShowUsers" class="btn btn-primary">View Users</a></div>
            <div class="col-md-4"><a href="/Admin/Controls" class="btn btn-secondary">Back to Control Page</a></div>
        </div>
        
        <div style="margin:auto; width:80%"></div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Role: @Html.DropDownListFor(x => x.RoleId, Model.RoleList, "Select Role", new { @class = "form-control", required="required" })
            <span style="color:red">@Html.ValidationMessageFor(x => x.RoleList)</span>

        </div>

        <div class="form-group">
            User Name :@Html.TextBoxFor(a => a.Username, new { @class = "form-control", required = "required" })
            <span style="color:red">@Html.ValidationMessageFor(a=>a.Username)</span>
        </div>

        <div class="form-group">
            Password: @Html.PasswordFor(a => a.Passwrd, new { @class = "form-control", required = "required" })
            <span style="color:red">@Html.ValidationMessageFor(a => a.Passwrd)</span>
        </div>

        <div class="form-group">
            Name: @Html.TextBoxFor(a => a.Name, new { @class = "form-control", required = "required" })
            <span style="color:red">@Html.ValidationMessageFor(a => a.Name)</span>
        </div>

        <div class="form-group">
            <div class="form-group">
                Role: @Html.DropDownListFor(x => x.statusId,Model.StatusList, "Select Role", new { @class = "form-control", required = "required" })
                <span style="color:red"> @Html.ValidationMessageFor(x => x.Status)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        @TempData["msg"];


    }
</div>
    
    </div>


