﻿@model HRPayroll.Models.ViewModels.UserDTO

@{
    ViewBag.Title = "ShowUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">List of Software Users</h2>
<div style="margin:auto; margin-top:3%; width:80%; ">
<div class="row">
    <div class="col-md-4"><a href="/Admin/Controls" class="btn btn-secondary"> Back to Control</a></div>
    <div class="col-md-4"><a href="/Users/NewUser" class="btn btn-primary"> Create New User</a></div>
    <div class="col-md-4"><a href="/Admin/Admin" class="btn btn-dark">Back to Home</a></div>
</div>
    <table class="table">
        @Html.HiddenFor(a => a.RoleId),
        @Html.HiddenFor(a=> a.Id)
        <tr>
            <th>
                User Name
            </th>
            <th>
                Password
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Role Name
            </th>
            <th>
                Actions
            </th>

        </tr>

        @foreach (var item in Model.UsersList) {
            <tr>
                <td id="@item.Id">
                   @item.Username
                </td>
                <td>
                    @item.Passwrd
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.role
                </td>
                <td>
                    <a href="/Users/ChangePassword?id=@item.Id" class="btn btn-primary" > Change Password</a>
                    <a href="/Users/UserStatus?id=@item.Id" class="btn btn-primary">Change Status</a>
                    @*<a href="/Users/EditProfile?id=@item.Id" class="btn btn-primary">Change Profile</a>*@
              
                  </td>

            </tr>
}

    </table>
</div>