﻿@model HRPayroll.Models.ViewModels.UserStatusDTO


@{
    ViewBag.Title = "UserStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2 style="text-align:center; color:cornflowerblue">User Status</h2>
<div style="margin:auto; width:80%">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <b>Name:</b>
            @Model.userList.FirstOrDefault().Name
        </div>
        <div class="form-group">
            <b>Current Status:</b> 
            @Model.userList.FirstOrDefault().Status
        </div>
        <div class="form-group">
            Status: @Html.DropDownListFor(a => a.userStatus, Model.StatusList)
        </div>

        @TempData["msg"]
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="submit" />
            <a href="/Admin/Admin" class="btn btn-primary">Back to Home</a>
        </div>
        <div class="form-group">
            <a href="/Admin/Control" class="btn btn-primary">
                Back to Controls
            </a>
            <a href="/Users/ShowUsers" class="btn btn-primary">
                View Users
            </a>
        </div>


    }
</div>

