﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dibba{
        border: 1px solid;height:50%;
    }
</style>

<div class="row" style="width:97.6%; margin:auto; height:445px;">
    <div class="col-md-4 dibba" >
        <div>
            <p>
                <h4 style="text-align:center;">All User</h4>
            </p>
        </div>
        <hr />
        <table style="margin-left: 30%;">
            

            <tr><td><a href="/Admin/DepartmentSearch">View Department</a></td></tr>
            <tr><td><a href="/Admin/ViewPerson">Search A Person</a></td></tr>
            @*<tr><td><a href="#">View Monthly Attendence </a></td></tr>*@
            <tr><td><a href="/Admin/ViewAttendece">View Monthly Attendence  </a></td></tr>
            @*<tr><td><a href="#">Edit Favorites</a></td></tr>*@
            
        </table>
       <!--<p style="text-align:center">All Users</p>-->
    </div>
    <div class="col-md-4 dibba">
        <div>
            <p>
                <h4 style="text-align:center;">Semi Admin + Admin</h4>
            </p>
        </div>
        <hr />
        <table style="margin-left:30%;">
             <tr><td><a href="/Admin/CasualLeave">Mark CLs for a Month</a></td></tr>
            <tr><td><a href="/Admin/employee">Mark NCLs for a Month</a></td></tr>
            <tr><td><a href="/Admin/IssueAdvance">Advance Ledger</a></td></tr>
            <tr><td><a href="/Admin/EditAttendence">Mark Attendence for a Day</a></td></tr>
            <tr><td><a href="/Admin/CreateEmployee">Enroll New Employee</a></td></tr>
           
        </table>
        <!--<p style="text-align:center">Semi Admin + Admin</p>--> 
</div>
    <div class="col-md-4 dibba">
        <div >
            <p >
            <h4 style="text-align:center;">Admin</h4></p>
        </div>
        <hr />
        <table style="margin-left: 35%;">
            
            
            
            <tr><td><a href="/Salary/salary"> Generate Salary</a></td></tr>
            <tr><td><a href="/Admin/Controls">View Admin Controller Page </a></td></tr>
         
        </table>
        <!--<p style="text-align:center">   Admin</p>--> 
</div>
</div>

