﻿﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel


@{
    ViewBag.Title = "CasualLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:cornflowerblue">Mark CL of Employee</h2>

<div style="margin-left: 12%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 74%;
    margin-bottom: 3%;">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="form-group col-md-3" style="margin-left:14%">
                Organisation: @Html.DropDownListFor(x => x.OrgId, Model.Organisation, "Select Organisation", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            </div>
            <div class="col-md-1" style="margin-top: 2%;">
                <input type="button" value="Go" class="btn btn-primary" id="btnGo" />
            </div>
            <div class="form-group col-md-3">
                Department:
                @if (ViewBag.Dep != null)
                {
                    var DeptId = ViewBag.Dep;
                    var DepartmentName = ViewBag.DeptName;
                    @Html.DropDownListFor(a => a.DeptId, Model.Departments, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                }
                else
                {
                    @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style= "height: calc(3.25rem + 2px) !important;" })
                    
                }

</div>
            <div class="form-group col-md-3" style="margin-top: 2%;">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />

            </div>
        </div>
    }

</div>

@{
    int? totalavailCL = Model.availCL;

}
<div style="margin:auto; width:80%;">
@if (Model.empList == null)
{
    <h2 style="text-align:center">No record found</h2>
    }
    else
    {

        using (Html.BeginForm("SaveCLs", "Admin", FormMethod.Post))
        {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Organisation</th>
                <th>Department</th>
                <th>Balance CLs</th>
                <th>Date</th>
                <th>Issued</th>
            </tr>
        </thead>
        <tbody>
           @for (int i = 0; i < Model.empList.Count; i++)

           {
                <tr>
                    <td> 
                        @Html.HiddenFor(a => a.empList[i].DeptId, new { @class = "form-control" })
                        @Html.HiddenFor(a => a.empList[i].OrgId, new { @class = "form-control" })
                        @Html.HiddenFor(a => a.empList[i].EmpId, new { @class = "form-control" }) <a href="/Admin/ViewProfile?id=@Model.empList[i].EmpId">
                        @Model.empList[i].Name</a></td>
                    <td>@Model.empList[i].OrgName</td>
                    <td>@Model.empList[i].DeptName</td>
                    @*<td>@item.availCL</td>
                      <td>@item.Casual_Leave</td>*@
                    <td>
                        @Model.empList[i].Balance_CL
                        @*<a href="MarkCl?Empid=@item.empId">Adjust CL's</a>
                        <a href="generateCL?Empid=@item.empId" class="btn btn-primary">Issue CL's</a>*@
                    </td>
                    <td>
                    @Html.TextBoxFor(a => a.empList[i].Adjusted_Date, new { @class = "form-control", type = "date", required = "required"})
                    <td>@Html.TextBoxFor(a => a.empList[i].Casual_Leave, new { @class = "form-control" })</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Save All" />
        </div>
        
        </div>
       
    }
   @* <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageNumber)
                    {
                    <li class="page-item active"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                }
            }
           <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>*@


    <div class="form-group">
        @if (TempData["msg"] != null)
        {
            <h3><span style="color:green">@TempData["msg"]</span></h3>
        }
    </div>
}
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script> 
<script>
     $("#btnGo").click(function () {
        debugger
        var orgId = $("#OrgId").val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/getDepartmentsDD?OrgaId=" + orgId,
            type: "get",
            success: function (response) {
                //console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }

                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
<script>
$(function () {
    $("#date").datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
});

angular.module("date", [])
    .directive("datepicker", function () {
    return {
        restrict: "A",
        link: function (scope, el, attr) {
            el.datepicker({
                            dateFormat: 'yy-mm-dd'
                        });
        }
    };
})
    .controller("dateCtrl", function ($scope) {
});
</script>