﻿@model HRPayroll.Models.ViewModels.ChangeSalaryDTO

@{
    int count = 0;
    ViewBag.Title = "ChangeSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:50%; margin:auto;">
    <h4>Change Salary</h4>
    @using (Html.BeginForm())
    {
        
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrgId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style= "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrgId)</span>
        </div>
        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DeptId)</span>

        </div>
        <div class="form-group" style="margin-left: 2%;">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
            <a href="/Admin/ChangeSalary" class="btn btn-primary">All</a>
        </div>
        <div class="form-group">
            Employee Name: <input name="term" placeholder="Search by name" class="form-control" />
        </div>

   
            <div class="form-group ">
                <div class="row">
                    <div class="col-md-2"><input type="submit" value="Search" class="btn btn-primary" /></div>
                    <div claa="col-md-3"><a href="/Admin/ChangeSalary" class="btn btn-primary">All</a></div>
                </div>
                
                
            </div>
            @*<div class="form-group col-md-3" style="width:25%">
                <a href="/Admin/ChangeSalary" class="btn btn-primary" style="width:50%">All</a>
                </div>
            </div>
            <div class="col-md-3" style="width:25%"></div>
            <div class="col-md-3" style="width:25%"></div>*@
    }

@if (Model.salaryUpdate.Count() < 1)
    {
        <h5>No record found</h5>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                 
                    <th>Name</th>
                    <th>Current Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.salaryUpdate)
                    {
                    <tr>
                     
                        <td>@item.Name</td>
                        <td>@item.New_Salary</td>
                        <td><a href="/Admin/UpdateSalary?EmpId=@item.EmpId" class="btn btn-primary">Change Salary</a></td>
                    </tr>
                    count = count + 1;
                }
            </tbody>
        </table>
    }
</div>

        @*<div class="form-group">
            New Salary: @Html.TextBoxFor(x => x.New_Salary, new { @class = "form-control", placeholder = "" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.New_Salary)</span>
        </div>

        <div class="form-group">
            Remarks: @Html.TextBoxFor(x => x.Remarks, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Remarks)</span>

        </div>

      

        @if (TempData["msg"] != null)
        {
            <div class="form-group">
                @TempData["msg"]
            </div>
        }

        <div class="form-group">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" />
        </div>

    </div>*@
}

@*<script type="text/javascript">

     $(document).ready(function () {
         $(".datepicker").datepicker();
     });
</script>*@
<script>
$(document).ready(function () {
    $(".Name").autocomplete({
           source: function(request,response) {
               $.ajax({
                   url: "/Admin/getName",
                   type: "POST",
                   dataType: "json",
                   data: { Prefix: request.term },
                   success: function (data) {
                       response($.map(data, function (item) {
                           return { label: item.Name, value: item.EmpId};
                       }))

                   }
               })
           },
           messages: {
               noResults: "", results: ""
           }
       });
   })
</script>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#OrgId").change(function () {
        debugger
        var OrganisationId = $(this).val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

 