﻿
@{
    ViewBag.Title = "Controls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dibba {
        border: 1px solid;
        height: 78%;
    }
</style>
<p>
    <h4 style="text-align:center; color:cornflowerblue">Admin Controls Page</h4>
</p>
<div class="row" style="width:97.6%; margin:auto; height:445px;">
    <div class="col-md-12" style="margin-bottom:3%">
        <a href="/Admin/Admin" class="btn btn-primary">Back to Home</a>
    </div>
    <div class="col-md-12 dibba">
        <table style="margin-left: 3%;">
            <tr><td><a href="/Users/NewUser">Make New User</a></td></tr>
            <tr><td><a href="/Admin/CreateEmployee">Make New Employee</a></td></tr>
            <tr><td><a href="/Admin/CreateOrganisation">Make New Organization</a></td></tr>
            <tr><td><a href="/Admin/CreateDepartment">Make New Department </a></td></tr>
            <tr><td><a href="/Admin/EditOption">Edit Attendence Options for a Department</a></td></tr>
            <tr><td><a href="/Users/ShowUsers">View User Data / Edit User Data</a></td></tr>
            <tr><td><a href="/Admin/viewLoginTime">View User LogIn- Logout Log</a></td></tr>
            <tr><td><a href="/Admin/LogOut">Logout All User</a></td></tr>
           

        </table>
        <!--<p style="text-align:center">All Users</p>-->
    </div>
    </div>



