﻿@model HRPayroll.Models.ViewModels.EmployeeDTO
@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@using (Html.BeginForm("CreateEmployee", "Admin", FormMethod.Post, new { id = "frmEmp", enctype = "multipart/form-data" }))
{
    <div style="width:50%;margin:auto">
        <h2 style="text-align:center; color:cornflowerblue">Page Name : Add New Employee</h2>
        <span style="color:green; font-size:larger; text-align:center; margin-bottom:1%; margin-top:1%;">
            @if (TempData["msg"] != null)
            {
                {
                    @TempData["msg"] 
                }
            }
        </span>

        

        <div class="form-group">
         Employee Image: @Html.TextBoxFor(a => a.Profileimage, new { type = "file" }) <small>Only Image size of Width:100px and Height:80px </small>
            <span style="color:red"> @Html.ValidationMessageFor(a => a.Profileimage) </span>
        </div>
        <div class="form-group">
            Name: @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder="Write Employee's Full Name", required="required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Name)</span>
        </div>

        <div class="form-group">
            Date of Birth: @Html.TextBoxFor(x => x.DOB, new { @class = "form-control datepicker", @type = "Date", placeHolder="Date", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DOB)</span>

        </div>
        <div class="form-group">
            Joining Date: @Html.TextBoxFor(x => x.Joining_Date, new { @class = "form-control datepicker", @type="Date", placeHolder = "Date", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Joining_Date)</span>
        </div>

        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrganisationId)</span>

        </div>

        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DeptId)</span>

        </div>
        <div class="form-group">
            Gender: @Html.DropDownList("Gender", new List<SelectListItem>() { new SelectListItem() { Text = "Male", Value = "Male" }, new SelectListItem() { Text = "Female", Value = "Female", }
               }, "Select Gender", new { @class = "form-control", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Gender)</span>
        </div>
        <div class="form-group">
            Address: @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Write Employee's Full Address", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Address)</span>
        </div>
        <div class="form-group">
            Phone: @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Write Employee's Contact No", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Phone)</span>

        </div>
        <div class="form-group">
            Mother's Name: @Html.TextBoxFor(x => x.Mother_Name, new { @class = "form-control", placeholder = "Write Employee Mother's Name", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Mother_Name)</span>
        </div>
        <div class="form-group">
            Father's Name: @Html.TextBoxFor(x => x.Father_Name, new { @class = "form-control", placeholder = "Write Employee Father's Name", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Father_Name)</span>
        </div>
        <div class="form-group">
            Husband's/Wife Name: @Html.TextBoxFor(x => x.H_F_Name, new { @class = "form-control", placeholder = "Write Employee Husband/Father's Name", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.H_F_Name)</span>

        </div>
        <div class="form-group">
            EmailID: @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Write Employee's Email", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Email)</span>
        </div>
        <div class="form-group">
            Emergency Conatct: @Html.TextBoxFor(x => x.Emergency_C, new { @class = "form-control", placeholder = "Write Employee Emergency Contact No", required = "required" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Emergency_C)</span>
        </div>
        <div class="form-group">
            Aadhaar Number: @Html.TextBoxFor(x => x.Aadhar_Number, new { @class = "form-control", placeholder = "Write Employee Aadhar No" })
           
        </div>
        <div class="form-group">
            PAN Number: @Html.TextBoxFor(x => x.panCard, new { @class = "form-control", placeholder = "Write Employee Pan No" })

        </div>
        <div class="form-group">
            Joining Salary: @Html.TextBoxFor(x => x.Salry, new { @class = "form-control", required="required"  })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Salry)</span>
        </div>
        <span id="msg"></span>
        <div class="row">
            <div class="form-group col-md-3" style="width:20%">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" style="width:70%" />
            </div>
            <div class="form-group col-md-3" style="width:20%">
                <a class="btn btn-primary" href="/Admin/Controls">Back To Control</a>
            </div>
        </div>
    </div>
    
}
@*<script src="~/scripts/jquery-1.12.4.min.js"></script>*@
<script>
    $("#OrganisationId").change(function () {
        var OrganisationId = $(this).val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
@*<script>
    $("#btnSubmit").click(function () {
        var currentBtn = $(this);
        var msg = $("#msg");
        currentBtn.attr("disabled", "disabled");
        msg.text("wait...");
        var frmData = $("#frmEmp").serialize();
        $.ajax({
            url: '/Admin/CreateEmployee',
            type: 'post',
            data: frmData,
            success:function(response)
            {
                if(response=="ok")
                {
                    msg.text("Successfully added").css("color", "green");
                    $("input[type='text']").val("");
                }
                else
                {
                    msg.text(response).css("color", "red");
                }
                currentBtn.removeAttr("disabled");
            },
            error:function(response)
            {
                msg.text("Internal server error").css("color", "red");
                currentBtn.removeAttr("disabled");
                console.log(response.responseText);
            }
        });
    });
</script>*@

@*<script type="text/javascript">

     $(document).ready(function () {
         $(".datepicker").datepicker();
       $(".datepicker").datepicker("setDate", new Date());
         $(".datepicker").datepicker.regional[""].dateFormat = 'yy-mm-dd';
     });
</script>*@