﻿@model HRPayroll.Models.ViewModels.OrganisationDTO
@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("CreateOrganisation", "Admin", FormMethod.Post,new { id="frmOrg"}))
{

    <div style="width:50%;margin:auto">
        <h4>Add Organization</h4>
        <div class="form-group">
            Organisation Name: @Html.TextBoxFor(x => x.OrgName, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrgName)</span>
        </div>
      
        <div class="form-group">
            <span id="msg"></span>
        </div>
        @if (TempData["msg"] != null)
        {
            <div class="form-group">
                @TempData["msg"]
            </div>
        }
        <div class="row">
            <div class="form-group col-md-3" style="width:20%">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" style="width:70%" />
            </div>
            <div class="form-group col-md-3" style="width:20%">
                <a class="btn btn-primary" href="/Admin/Controls">Back To Control</a>
            </div>

        </div>
       
       
    </div>
}


@*<script>
    $("#btnSubmit").click(function () {
        var currentBtn = $(this);
        var msg = $("#msg");
        currentBtn.attr("disabled", "disabled");
        msg.text("wait...");
        var frmData = $("#frmOrg").serialize();
        $.ajax({
            url: '/Admin/CreateOrganisation',
            type: 'post',
            data: frmData,
            success:function(response)
            {
                if(response=="ok")
                {
                    msg.text("Successfully added").css("color", "green");
                    $("input[type='text']").val("");
                }
                else
                {
                    msg.text(response).css("color", "red");
                }
                currentBtn.removeAttr("disabled");
            },
            error:function(response)
            {
                msg.text("Internal server error").css("color", "red");
                currentBtn.removeAttr("disabled");
                console.log(response.responseText);
            }
        });
        
    });
</script>*@

    @*if (@TempData["msg"] != null)
    {      <span>@TempData["msg"]</span> }

}*@

