﻿@model HRPayroll.Models.ViewModels.DepartmentDTO
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("CreateDepartment", "Admin", FormMethod.Post, new { id = "frmDept" }))
{

    <div style="width:50%;margin:auto">
        <h4>Add Department</h4>

        <div class="form-group" style="height:calc(3.25rem + 2px);">
            Organisation: @Html.DropDownListFor(x => x.OrgId,Model.Organizations,"Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrgId)</span>
        </div>
        <div style="margin-top:2%; margin-bottom:2%;">
            <table id="tblDepartment" class="table table-responsive">

                <thead>
                    <tr class="headings" style="background-color:#4495d1;">
                        <th>Department List</th>
                    </tr>
                </thead>
                <tbody id="tbody">


                </tbody>
            </table>
        </div>
        <div class="form-group">
            Department: @Html.TextBoxFor(x => x.DeptName, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DeptName)</span>
        </div>
        <span id="msg"></span>
        
        @if (TempData["msg"] != null) 
        {
            <div class="form-group">
                @TempData["msg"]
            </div>
        }
      
        <div class="row">
            <div class="form-group col-md-3" style="width:20%">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" style="width:70%" />
            </div>
            <div class="form-group col-md-3" style="width:20%">
                <a class="btn btn-primary" href="/Admin/Controls">Back To Control</a>
            </div>

        </div>

    </div>
}
@*<script>
    $("#btnSubmit").click(function () {
        var currentBtn = $(this);
        var msg = $("#msg");
        currentBtn.attr("disabled", "disabled");
        msg.text("wait...");
        var frmData = $("#frmDept").serialize();
        $.ajax({
            url: '/Admin/CreateDepartment',
            type: 'post',
            data: frmData,
            success:function(response)
            {
                if(response=="ok")
                {
                    msg.text("Successfully added").css("color", "green");
                    $("input[type='text']").val("");
                }
                else
                {
                    msg.text(response).css("color", "red");
                }
                currentBtn.removeAttr("disabled");
            },
            error:function(response)
            {
                msg.text("Internal server error").css("color", "red");
                currentBtn.removeAttr("disabled");
                console.log(response.responseText);
            }
        });
    });
</script>*@

@*<script>
    $("#OrgId").change(function () {
        debugger
        var OrganisationId = $(this).val();
        var Department;
        var $table = $('<table/>');
        $table.append('<thead><tr><th>Deparments</th></tr></thead>');
        var $tbody = $('<tbody/>');
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
             
                    $.each(function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.Department));
                    }  
                    )
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>*@
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#OrgId").change(function () {
        var table = $("td");
        table.empty();
        debugger
        var OrganisationId = $(this).val();
          $.ajax({
            type: 'GET',
            url: '/Admin/GetDepartment?OrgId=' + OrganisationId,
              contenType:'application/json; charset-utf-8',
              success: function (data)
              {
                var rows='';
                $.each(data, function (i, item) {
                    rows += "<tr><td>" + item.DeptName + "</td></tr>";
                });
                console.log(rows);
                
                $('#tblDepartment tbody').append(rows);
              },
              
            error: function (emp) {
                alert('error');
            }
        });
    });
</script>

