﻿@model HRPayroll.Models.ViewModels.EmployeeListModel

@{
    ViewBag.Title = "ShowDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:98%;margin:auto">


    <h2 style="color:cornflowerblue; text-align:center">View Department</h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"><a href="/Admin/Admin" class="btn btn-primary">Back To Home</a></div>

    </div>
    

    <div style="width:90%; margin-bottom:2%">
        @using (Html.BeginForm())
        {
            <div class="row" style="margin-left: 16%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-left: 12%;
    padding-bottom: 3%;
    width: 82%;">
                <div class="col-md-4" style="margin-left: -6%;">
                    Organizatlion: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-1" style="margin-top: 2.5%;
    margin-left: 0%;">
                    <input type="button" id="btnGo" class="btn btn-primary" value="Go" />
                </div>
                <div class="col-md-4"style="margin-left:7%;" >
                    Department:
                    @if (ViewBag.Dep != null)
                {
                    var DeptId = ViewBag.Dep;
                    var DepartmentName = ViewBag.DeptName;
                        @Html.DropDownListFor(a => a.DepartmentId, Model.DepartmentList, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })

                    }
                   
                </div>
                <div class="col-md-1" style="margin-top: 2.9%;
    padding-left: 7%;">
                    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
                </div>
            </div>
        }

    </div>



    @if (Model.emplist == null)
        {
       
           @*<h2 style="text-align:center;">@ViewBag.Msg</h2>*@ 
        }
        else
        {
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Phone</th>
                @*<th>Aadhar Number</th>*@
                <th>Address</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Father Name</th>
                <th>Gender</th>
                <th>Husband/Wife Name</th>
                <th>Emergency Contact</th>
                @*<th>Dept</th>
                <th>Org</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.emplist)
            {
                <tr>
                    <td><a href="/Admin/ViewProfile?id=@item.EmpId">@item.Name</a></td>
                    <td>@item.Phone</td>
                    @*<td>@item.Aadhar_Number</td>*@
                    <td>@item.Address</td>
                    <td>@item.DOB.ToString("dd-MMM-yyyy")</td>
                    <td>@item.Email</td>
                    <td>@item.Father_Name</td>
                    <td>@item.Gender</td>
                    <td>@item.H_F_Name</td>
                    <td>@item.Emergency_C</td>
                    @*<td>@item.DeptName</td>
                    <td>@item.OrgName</td>*@

                </tr>
            }
        </tbody>
    </table>
    @*<nav aria-label="Page navigation example">
            <ul class="pagination">
                @* <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <li class="page-item active"><a class="page-link" href="/Admin/DepartmentSearch?pageNumber=@i">@i</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/DepartmentSearch?pageNumber=@i">@i</a></li>

                    }
                }
                @*<li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>*@


    <div class="form-group">
        @if (TempData["msg"] != null)
            {
            <span style="color:green">@TempData["msg"]</span>
        }
    </div>
    }
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#btnGo").click(function () {
        var OrganisationId = $("#OrganisationId").val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>