﻿@model HRPayroll.Models.ViewModels.AtendenceDTO
@{
    ViewBag.Title = "EditOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:cornflowerblue; margin-bottom:2%; ">Create Attendence Options</h2>

<div style="width:80%; margin:auto;">
    @using (Html.BeginForm())
    {
        <div class="row" style="margin-left: 11%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 75%;
    padding-left: 3%;">
            <div class="form-group col-md-3" style="margin-left: 12%;">
                Organizatlion: @Html.DropDownListFor(x => x.OrgId, Model.OrgList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            </div>
            <div class="col-md-1" style="margin-top: 2.5%;">
                <input type="button" value="Go"  class="btn btn-primary" id="btnGo" />
            </div>
            <div class="form-group col-md-3" style="margin-left: 2%;">
                Department: @Html.DropDownListFor(x => x.DepId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            </div>
            <div class="form-group col-md-3" style="margin-left: 2.5%; margin-top: 2.5%;">
                <input type="submit" id="" class="btn btn-primary"  value="Filter" />
            </div>
        </div>
        if (Model.attList == null)
        {

            //@ViewBag.Msg
        }
        else
        {
<table class="table table-responsive" style="padding-left: 22%;">

   
            <tr>
                <th>Attendence</th>
                <th>Weightage</th>
                <th>Department</th>
                <th>Organisation</th>
                @*<th>Action</th>*@
            </tr>
            <tbody>
                @foreach (var item in Model.attList)
                {
                    <tr>
                        <td><input type="hidden" value="@item.Id" />@item.Attendence</td>
                        <td>@item.Weightage</td>
                        <td>@item.DepName</td>
                        <td>@item.OrgName</td>
                        @*<td><a href="">Edit</a></td>*@
                    </tr>

                }
            </tbody>
        </table>
            }

        <h2 style="color:red; margin-top:5%; text-align:center">Create New Attendence</h2>
       
            <div class="row">
                <div class="col-md-6">
                    <b>Organizatlion:</b> @Html.DropDownListFor(x => x.OrganisationId, Model.OrgList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-6">
                    <b>Department: </b> @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
            </div>
            <div class="row" style="margin-top: 1%;">
                <div class="col-md-6">
                    <b>Attendence:</b>
                    <input type="text" name="Attendence" id="Attendence" class="form-control"  />

                </div>
                <div class="col-md-6">
                    <b>Weightage:</b>
                    <input type="text" name="Weightage" id="Weightage" class="form-control" />
                </div>
            </div>
            <div class="row" style="margin-left: 8%;
    margin-top: 1%; margin-bottom:3%">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-7">
                    <input type="submit" class="btn btn-danger" id="btnSubmit" value="Submit" style="width:400px" />
                </div>
                <div class="col-md-2"></div>
            </div>
     
        }
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    //First DropDownList of the PAGE
    $("#btnGo").click(function () {
        var OrganisationId = $("#OrgId").val();
        var deptId = $("#DepId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });


    //Second DropDownList of the PAGE
    $("#OrganisationId").change(function () {
        debugger
        var OrganisationId = $(this).val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for (let i = 0; i < response.length; i++) {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function (error) {

                console.log(error.responseText);
            }
        });
    });
</script>


<script>
    //Submit the Data of the Page
    $('#btnSubmit').click(function () {
        debugger
        var current = $(this);
        //current.val("wait..");
        //current.attr('disabled', 'disabled');
        var OrgId = $("#OrganisationId").val();
        var DeptId = $("#DeptId").val();
        var Attendence = $("input[name='Attendence']").val();
        var Weightage = $("input[name='Weightage']").val();
        var frmData = JSON.stringify({
            Attendence: Attendence,
            Weightage: Weightage,
            OrgId: OrgId,
            DepId: DeptId

        });
        $.ajax({
            url: '/Admin/SaveData',
            type: 'post',
            contentType: 'application/json',
            data:frmData,
        }).then(function (response) {
            debugger
            if (response == 'ok') {
                current.val = ('Saved');
            }
            else {
                current.val('error');
                current.removeAttr("disabled");

            }
        },   
        function (error) {
            console.log(error.responseText);
        });
    });
</script>
