﻿@model HRPayroll.Models.ViewModels.EditAttendence

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 style="text-align:center; color:cornflowerblue">Page Name : Mark Attendance</h2>
        @using (Html.BeginForm())
        {
            <a href="/Admin/ViewAttendece" class="btn btn-primary" style="margin-left: 80%;">View Attendence</a>
            <div class="row" style="margin-left: 13%;margin-top: 2%; border: 1px solid;padding-top: 3%; padding-bottom: 3%; width: 71%;">
                <div class="col-md-3" style="margin-left:16%">
                    @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organisation", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-1">
                    <input type="button" value="Go" class="btn btn-primary" id="btnGo" />
                </div>
                <div class="col-md-3">
                    @if (ViewBag.Dep != null)
                    {
                        var DepartmentId = ViewBag.Dep;
                        var DepartmentName = ViewBag.DeptName;
                        @Html.DropDownListFor(a=> a.DepartmentId, Model.DepartmentList, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                    }
                    else
                    {
                    @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                    }
                </div>
                <div class="col-md-1" style="margin-top: 0% !important; margin-left: 0% !important;">
                    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" style="margin-left: -1%;
    width: 144%;" />
                                   </div>
                @*<div class="col-md-2" style="">
                    <input name="term" placeholder="Search by name" class="form-control" />
                </div>
                <div class="col-md-2"  style="">
                    <input type="submit" value="Search" class="btn btn-info" />*@
                   
                </div>
        }
@*<div style="width:80%;padding-left: 30% !important;
    width: 80%;">
</div>*@
<div style="width:80%; margin-top:3%;">
    @if (TempData["Test"] != null)
    {
        <h1> @TempData["Test"]</h1>
    }
    @if(TempData["msg"]!=null)
    {
    <span>
    <h2 style="text-align:center; margin-left: 25%;">@TempData["msg"]</h2>
    </span>
    }
    @if (Model.empList == null)
    {

    }
    else
    {
        using (Html.BeginForm("SaveAttendance", "Admin", FormMethod.Post))
        {
            <div class="row" style="margin-top: 3%;">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"><button class="btn btn-info preDay">Previous Date</button></div>
                <div class="col-md-2">Select Any Date</div>
                <div class="col-md-2" style="margin-left: -5% !important; margin-right: -12% !important;">@Html.TextBoxFor(a => a.date, new { @class = "datepicker form-control", required = "required" })</div>
                <div class="col-md-2" style=""></div>
                <div class="col-md-2"><button class="btn btn-info nextDay">Next Date</button></div>
                <div class="col-md-2"></div>
             
            </div>

        <table class="table table-bordered table-striped" style="margin-top:5%; margin-left: 33% !important;
    width: 60%;">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Attendence</th>
                    @*<th>Date</th>*@
                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.empList.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(a => a.empList[i].DeptId, new { @class = "form-control" })
                            @Html.HiddenFor(a => a.empList[i].OrgId, new { @class = "form-control" })
                            @Html.HiddenFor(a => a.empList[i].Id, new { @class = "form-control" }) @*EmpId*@
                            @Html.HiddenFor(a => a.empList[i].ListId, new { @class = "form-control" }) @*RowId*@
                            @Model.empList[i].Name
                        </td>
                        <td>

                            @Html.DropDownListFor(a => a.empList[i].Att_ID, Model.AttendenceList, "Select Any", new { @class = "attendance form-control", required = "required", style = "height: calc(3.25rem + 2px) !important;" })
                        </td>
                        @*<td><input id="date" type="date" class="form-group" /></td>*@
                        @*<td>
                            <img id="pic" src=""  style="display:none;height:20px;width:20px" />
                            <input type="button" class="btn btn-info btnAttendanceSubmit" value="submit" />

                        </td>*@
                    </tr>
                }
                <tr>
                    <td></td>
                    <td><input type="submit" style="margin-left:10%" class="btn btn-primary" id="btnadd" value="Save All" onclick="return confirm('Are you sure?')"  /></td>
                    

                </tr>
            </tbody>
        </table>
        }




        <h2><span id="msg1" style="text-align:center; color:red"></span></h2>
        <div>
            <img src="~/lg.-text-entering-comment-loader.gif" id="img" style="margin-left: 50%;" />
        </div>
    }
    @if (Model.view == null)
    {

    }
    else {
      if (Model.date != null)
        {
    <span style="font-size:larger; color:red; margin-left: 45%;">@ViewBag.Msg</span>
    }
    else
    {
    <span style="font-size:larger; color:red; margin-left: 45%;">@ViewBag.Msg</span>
    }
    <table class="table table-bordered table-striped" style="margin-top:5%; margin-left: 33% !important;
    width: 60%;">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Attendence</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.view)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <select disabled class="form-control" style="height: calc(3.25rem + 2px) !important;">
                            <option>
                                @item.AttendenceName
                            </option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }

   <div id="prevAtt" style="margin-left: 27%;">

   </div>


</div>




@*<script src="/scripts/jquery-1.12.4.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $(".btnAttendanceSubmit").click(function () {debugger
        var current = $(this);
        current.val("wait..");
        current.attr('disabled', 'disabled');
        //var img = current.siblings("#pic");
        //img.attr('src', '/images/loader.png');
        //img.show();
        var id =     current.parent().siblings().find("#id").val();
        var att_id = current.parent().siblings().find('#Att_Id').val();
        var frmData= JSON.stringify({
            EmpId:id,
            att_Id:att_id,
            Date:  $("input[name='Date']").val(),
        });
        $.ajax({
            url: '/Admin/SaveAttendance',
            type: 'post',
            contentType:'application/json',
            data:frmData,
        }).then(function (response) {
            console.log(response);
            if (response == 'ok') {
                current.val('Saved');
            }
                //img.attr('src', '/images/correct.png');
            else {
                current.val('error');
                //img.attr('src', '/images/cancel.png');
                current.removeAttr("disabled");

            }

        }, function (error) {
            //img.attr('src', '/images/cancel.png');
            console.log(error.responseText);

        });
        // img.hide();
    

    });
</script>*@





@*<script>
    $("#btnSave").click(function () {
        debugger
        var currentBtn = $(this);
        var msg = $("#msg");
        currentBtn.attr("disabled", "disabled");
        msg.text("wait...");
        var frmData = $("#frmEmp").serialize();
        $.ajax({
            url: '/Admin/SaveAttendance',
            type: 'post',
            data: frmData,
            success:function(response)
            {
                if(response=="ok")
                {
                    msg.text("Successfully added").css("color", "green");
                  
                }
                else
                {
                    msg.text(response).css("color", "red");
                }
                currentBtn.removeAttr("disabled");
            },
            error:function(response)
            {
                msg.text("Internal server error").css("color", "red");
                currentBtn.removeAttr("disabled");
                console.log(response.responseText);
            }
        });
    });
</script>*@
@*<script>
   
    $(function () {
        $("#btnadd").click(function () {
            debugger
            var n = $("table").find("tr").length;

            for (var i = 1; i < n; i++) {
                var EmpId = $("input[type=hidden]").val();
                var att_Id = $('#Att_Id').val();
                var Date = $('input[name=date]').val();
                if (n == n) {

                    alert("Kindly Fill all the Employee Attendence of Selected Department.")
                }
                else {
                    //alert(salary);
                    $.ajax({
                        type: "Post",
                        url: "Admin/Insert",
                        data: "{'EmpId':" + EmpId + ",'att_Id':'" + att_Id + "','Date':'" + Date + "'}",

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function () {
                            //alert("complete");
                        },
                        error: function (err) {
                            alert(err);
                        }
                    })
                }
            }
        })
    })
</script>*@

<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui.js"></script>
@*<script src="~/scripts/jquery-1.12.4.min.js"></script>*@
<script>
    $("#btnGo").click(function () {
        debugger
        var OrganisationId = $("#OrganisationId").val();
        //var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});

                if (response.length > 0)
                {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");
                    }
                 }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });


    $(".datepicker").datepicker();
    $(".datepicker").datepicker("setDate", new Date());
    //var getDate=  $(".datepicker").datepicker(getDate());
    //var getDate = $('.datepicker').datepicker.her
    $(".datepicker").datepicker({
        dateFormat: "yy/mm/dd",
        timepicker: false,
        beforeShowDay: $.datepicker.noWeekends
    }).val();

    $('.nextDay').on("click", function (e) {
        debugger
        var dt = new Date($('#date').val());
        dt.setDate(dt.getDate() + 1); // add 1 days
        $('#date').val(getDateFormat(dt));
        e.preventDefault();
    });

    $(document).ready(function(){
        $("#img").css({ display: 'none' });
        
    });


    $('.preDay').click(function (e) {
        $("#img").show();       
        debugger
        var dt = new Date($('#date').val());
        dt.setDate(dt.getDate() - 1); // add 1 days
        $('#date').val(getDateFormat(dt));
        var date = $("#date").val();
        var OrganisationId = $("#OrganisationId").val();
        var DepartmentId = $("#DepartmentId").val();
        $.ajax({
            url: "/Admin/ViewAttandence?date='" + date + "'&OrganisationId='" + OrganisationId + "'&DepartmentId='" + DepartmentId + "'",
            type: "get",
            success: function (response) {
                $("#img").hide();
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function(error){
                console.log(error.responseText);
                msg.text("");
            }
    });
    });

    function getDateFormat(d) {
        return  (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear();
    }


</script>

