﻿﻿@model HRPayroll.Models.ViewModels.nclVM
@{
    ViewBag.Title = "employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Mark NCLs of Employees</h2>
<div style="width:98%;margin-left: 2%;">

    <a href="/Admin/Admin" class="btn btn-primary">Back To Home</a>

    <div style="margin-left: 12%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 74%;
    margin-bottom: 3%;">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="form-group col-md-3" style="margin-left:14%">
                    Organisation: @Html.DropDownListFor(x => x.OrgId, Model.OrganizationList, "Select Organisation", new { @class = "from-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-1" style="margin-top: 2%;">
                    <input type="button" value="Go" class="btn btn-primary" id="btnGo" />
                </div>
                <div class="form-group col-md-3">
                    Department:
                    @if (ViewBag.Dep != null)
                {
                    var DeptId = ViewBag.Dep;
                    var DepartmentName = ViewBag.DeptName;
                        @Html.DropDownListFor(a => a.DeptId, Model.DepartmentList, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                    }
                    else
                    {
                        @Html.DropDownListFor(x => x.DeptId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })

                    }
                </div>
                <div class="form-group col-md-3" style="margin-top: 2%;">
                    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />

                </div>
            </div>
        }

    </div>



    @if (Model.list == null)
    {

    }
    else
    {
        using (Html.BeginForm("SaveNCLs", "Admin", FormMethod.Post))
        {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Organisation</th>
                    <th>Balance NCL</th>
                    <th>Issued Date</th>
                    <th>Issued NCLs</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.list.Count(); i++)
                {
                    <tr>
                        <td>
                        @Html.HiddenFor(a => a.list[i].DeptId)
                        @Html.HiddenFor(a => a.list[i].OrgId)
                        @Html.HiddenFor(a => a.list[i].EmpId)
                        <a href="/Admin/ViewProfile?id=@Model.list[i].EmpId">@Model.list[i].Name</a></td>
                        <td>@Model.list[i].DeptName</td>
                        <td>@Model.list[i].OrgName</td>
                        <td>@Model.list[i].NCL_Balance</td>
                        <td>
                            @Html.TextBoxFor(a => a.list[i].dated, new {type="date" })
                            @*<a href="/Admin/NCL?EmpId=@item.EmpId" class="btn btn-dark">Adjust NCL</a>
                            <a href="/Admin/GenerateNCL?EmpId=@item.EmpId" class="btn btn-dark">Isssu NCL</a>*@
                        </td>
                        <td>
                            @Html.TextBoxFor(a => a.list[i].NCL)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Save All" />
            </div>

        </div>
        }


        <div class="form-group">
            @if (TempData["msg"] != null)
            {
                <span style="color:green">@TempData["msg"]</span>
            }
        </div>
    }
    <div class="form-group">
        @if (TempData["msg"] != null)
        {
            <h3><span style="color:green">@TempData["msg"]</span></h3>
        }
    </div>
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#btnGo").click(function () {
        debugger
        var OrganisationId = $("#OrgId").val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>

