﻿@model HRPayroll.Models.ViewModels.EmployeeListModel

@{
    ViewBag.Title = "GenerateSalry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Generate Salary</h2>
@using (Html.BeginForm())
{
    <div class="row" style="margin-left: 3%;
    margin-top: 2%;">
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form - control", style= "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="form-group" style="margin-left: 2%;">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form - control", style = "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="form-group" style="margin-left: 2%;">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
            <a href="/Admin/GenerateSalry" class="btn btn-primary">All</a>
        </div>
    </div>


}

<div style="margin:auto; width:80%">
@if (Model.emplist.Count() < 1)
{
    <h5>No record found</h5>
}
else
{
        <table class="table table-striped">
        <tr>
            <th>Employee Name</th>
            <th>Organisation</th>
            <th>Departments</th>
            @*<th>Total Encash Leaves</th>*@
            <td>Action</td>
        </tr>
        <tbody>
            @foreach (var item in Model.emplist)
            {
                <tr>
                    <td><input type="hidden" value="@item.EmpId" /> @item.Name</td>
                   <td><input type="hidden" value="@item.OrgId" />@item.OrgName</td>
                    <td><input type="hidden" value="@item.DeptId" />@item.DeptName</td>
                   @* <td>@item.EncashLeaves</td>*@
                    <td><a href="/Admin/Generate?id=@item.EmpId" class="btn btn-primary">Generate</a></td>
                </tr>
            }

        </tbody>
    </table>
}
</div>

<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#OrganisationId").change(function () {
  
        var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                debugger
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
