﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel

@{
    ViewBag.Title = "generateCls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate CLs for Employees</h2>

<table class="table table-striped" >
    <tr>
        <th>Employee Name</th>
        <th>Organisation</th>
        <th>Department</th>
        <th>Action</th>

    </tr>
    <tbody>
        @foreach(var item in Model.empList)
        {
            <tr>
                <td id="@item.empId">@item.Name</td>
                <td>@item.OrgName</td>
                <td>@item.DeptName</td>
                <td><a href="/Admin/generateCL?EmpId=@item.empId" class="btn btn-primary">Generate CL</a>
                </td>

            </tr>

        }
    </tbody>

</table>
