﻿@model HRPayroll.Models.ViewModels.IssueAdvance


@{
    ViewBag.Title = "generateAD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="margin-left:25%;width:80%">
    <h2 style="color:cornflowerblue;">Generate Advance of Employee</h2>
    @using (Html.BeginForm())
    {
        if (Model.IssueAdv.Count == 0)
        {
            <h2>No Advance Given</h2>
            <br />

            

            <div class="row" style="margin-top:1%">
                <div class="col-md-4">Select Date</div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.Dated, new { @class = "form-control", type = "date", required = "required" })</div>
            </div>
            <div class="row" style="margin-top:1%">
                <div class="col-md-4">Advance Taken</div>
                <div class="col-md-4">@Html.TextBoxFor(x => x.Issue_Advance, new { @class = "form-control", required = "required" })</div>
            </div>
            <div class="row" style="margin-top:1%">
                <div class="col-md-4">Remarks</div>
                <div class="col-md-4">@Html.TextBoxFor(x => x.Remarks, new { @class = "form-control", required = "required" })</div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />



        }

        else
        {
      @Html.HiddenFor(a=> a.Emp_Id)
            <table class="table table-striped">
                <tr>
                    <td>Employee Name</td>
                    <td>@Model.IssueAdv[0].Name</td>
                </tr>
                <tr>
                    <td>Adjusted Date</td>
                    <td>
                    @if (Model.IssueAdv[0].Dated != null)
                    {

                   <span> @Model.IssueAdv[0].Dated.Value.ToString("dd/MMM/yyyy") </span> 
                    }</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>@Model.IssueAdv[0].Advance_Due</td>
                </tr>
                <tr></tr>

            </table>
            <table>
                <tr>
                    <td>Select Date</td>
                    <td>@Html.TextBoxFor(a => a.Dated, new { @class = "form-control", type = "date", required = "required" })</td>
                </tr>
                <tr>
                    <td>Issued Advance</td>
                    <td>@Html.TextBoxFor(x => x.Issue_Advance, new { @class = "form-control", required = "required" })</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td>@Html.TextBoxFor(x => x.Remarks, new { @class = "form-control", required = "required" })</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" class="btn btn-primary" /></td>
                    <td><a href="/Admin/ViewProfile?id=@Model.IssueAdv.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a></td>

                </tr>

            </table>
        }
    }
</div>

    