﻿@model HRPayroll.Models.ViewModels.nclVM


@{
    ViewBag.Title = "GenerateNCL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:auto;width:80%">
    <h2 style="color:cornflowerblue;">Generate NCL of Employee</h2>
    @using (Html.BeginForm())
    {
        if (Model.list.Count == 0)
        {
            <h2>No NCL Allotted</h2>
            <br />

            <h3>Issue NCLs of an Employee</h3>


          <div class="row" style="margin-bottom:1%">
              <div class="col-md-4">Select Date</div>
              <div class="col-md-4">
              @Html.TextBoxFor(a => a.dated, new { @type="date", required="required" })
              
          </div>
              </div>
        <div class="row" style="margin-bottom:1%">
            <div class="col-md-4">Issued NCL</div>
            <div class="col-md-4">@Html.TextBoxFor(a => a.NCL1, new { required="required" }) </div >
        </div >
        <div class="row" style="margin-bottom:1%">
            <div class="col-md-4">Remarks</div>
            <div class="col-md-4">@Html.TextBoxFor(a => a.Remarks, new { required = "required" }) </div >
        </div >
        <div class="row">
            <div class="col-md-4">
            <input type = "submit" value="Submit" class="btn btn-primary" /></div>
            
            <div class="col-md-4">
   
</div>
        </div>
              
         }
         else
        {
            <table class="table table-striped">
                <tr>
                    <td>Employee</td>
                    <td>@Model.list[0].Name</td>
                </tr>
                <tr>
                <td>Adjusted Date</td>
                <td>@Model.list[0].dated.Value.ToString("dd/MMM/yyyy")</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>@Model.list[0].NCL_Balance</td>
                </tr>
                <tr></tr>

            </table>
            <table>
                <tr>
                    <td>Select Date</td>
                    <td>@Html.TextBoxFor(a => a.dated, new { @type = "date", required = "required" })</td>
                </tr>
                <tr>
                    <td>Issued NCL</td>
                    <td>@Html.TextBoxFor(a => a.NCL1, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td>@Html.TextBoxFor(a => a.Remarks, new { required = "required" })</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" class="btn btn-primary" /></td>
                    <td><a href="/Admin/ViewProfile?id=@Model.list.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a></td>

                </tr>

            </table>
               }
    } 
</div>      