﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel


@{
    ViewBag.Title = "generateCL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:auto;width:80%">
    <h2 style="color:cornflowerblue; text-align:center">Generate CL of Employee</h2>
    @using (Html.BeginForm())
    {
        if (Model.empList.Count == 0)
        {
            
            <h2>No CLs Allotted</h2>
            <br />

            <h3>Issue CLs of an Employee</h3>

            <div class="row" style="margin-bottom:1%">
                <div class="col-md-4">Select Date</div>
                <div class="col-md-4">
                    @Html.TextBoxFor(a => a.Dated, new { @type = "date", required = "required" })

                </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-md-4">Issued CL</div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.availCL, new { required = "required" }) </div>
            </div>
            <div class="row" style="margin-bottom:1%">
                <div class="col-md-4">Remarks</div>
                <div class="col-md-4">@Html.TextBoxFor(a => a.Remarks, new { required = "required" }) </div>
            </div>
            <div class="row">
                <div class="col-md-4"><input type="submit" value="Submit" class="btn btn-primary" /></div>
                @*<div class="col-md-4"></div>*@
            </div>

        }
        else
        {
            <table class="table table-striped">
                <tr>
                    <td>Employee</td>
                    <td>@Model.empList[0].Name</td>
                </tr>
                <tr>
                    <td>Adjusted Date</td>
                    <td><input type="hidden" value="@Model.empList[0].EmpId" />
                        @if (Model.empList[0].Adjusted_Date != null)
                        {
                            <span>
                                @Model.empList[0].Adjusted_Date.Value.ToString("dd/MMM/yyyy")
                            </span>
                        }
                    </td>
                    </tr>
                <tr>
                    <td>Balance</td>
                    <td>@Model.empList[0].Balance_CL</td>
                </tr>
                <tr></tr>

            </table>
            <table>
                <tr>
                    <td>Select Date</td>
                    <td>@Html.TextBoxFor(a => a.Dated, new { @type = "date", required = "required" })</td>
                </tr>
                <tr>
                    <td>Issued CL</td>
                    <td>@Html.TextBoxFor(a => a.availCL, new { required = "required" })</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td>@Html.TextBoxFor(a => a.Remarks, new { required = "required" })</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" class="btn btn-primary" /></td>
                    <td><a href="/Admin/ViewProfile?id=@Model.empList.FirstOrDefault().EmpId" class="btn btn-primary">Back To Profile</a></td>

                </tr>

            </table>
        }
    }
</div>