﻿@model HRPayroll.Models.ViewModels.SalaryEmployee

@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //double sal = (double)((Model.Curr_Salary) - Model.AdvanceGiven - ((Model.Curr_Salary / 30) * Model.Leaves) + ((Model.Curr_Salary / 30) * Model.EncashLeaves));
    //double salary = Math.Round(sal);
}

<h2 style="text-align:center">Calculation Of Employee Salary</h2>
<div style="margin:auto; width:80%;">

    <table class="table table-striped" >
        <tbody>
         
                <tr>
                    <td>Employee Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Current Salary</td>
                    <td><input type="text" name="salary" value="@Model.Curr_Salary" readonly /></td>
                </tr>
                <tr>
                    <td>Advance</td>
                    <td><input type="text" name="advance" value="@Model.AdvanceGiven" readonly /></td>
                </tr>
            <tr>
                <td>Total Encash CL</td>
                <td><input type="text" name="encash" value="@Model.EncashLeaves" readonly /></td>
            </tr>
                <tr>
                    <td>Leaves</td>
                    <td><input type="text" name="leave" value="@Model.Leaves" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="calculate btn btn-primary" value="Calculate" />
                    </td>
                </tr>
              <tr>

                    <td>Total Salary:</td>
                    <td><span class="result"></span></td>

                </tr>
                

           
           
        </tbody>
    </table>
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $('.calculate').click(function () {
        debugger
        var CurrentSalary = $('input[name=salary]').val();
        var Advance = $('input[name=advance]').val();
        var Encash = $('input[name=encash]').val();
        var Leaves = $('input[name=leave]').val();
        var total= Math.round((CurrentSalary)-Advance-((CurrentSalary/30)*Leaves)+((CurrentSalary/30)*Encash))
        $('.result').html(total);
    });

</script>
