﻿@model IEnumerable<HRPayroll.Models.ViewModels.EmployeeAtt>
@{
var DaysInmonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
var currentName = "";
}
<table class="table table-bordered" style="overflow-x:auto;">
    <thead>
        <tr>

            <th>Employee Name</th>
            <!--Loop all the days of month and print it-->
            @for (var numb = 1; numb <= DaysInmonth; numb++)
            {
                <th>@numb</th>

            }

            <th>TP</th>

        </tr>
    </thead>
    <tbody>
        <!--Loop model-->
        @foreach (var emp in Model)
        {
            int month = ViewBag.month;

            if (currentName != emp.Emp_Name)
            {
                // Set Name

                currentName = @emp.Emp_Name;
                <tr>
                    <td>
                        <input type="hidden" value="@emp.EmpId" />

                        <a href="/Admin/ViewProfile?id=@emp.EmpId">@emp.Emp_Name</a>
                    </td>
                    @for (var numb = 1; numb <= DaysInmonth; numb++)
                    {

                        <td>

                            @{
                                var GetThatValue = Model.Where(a => a.Date.Value.Day == numb && a.Emp_Name == emp.Emp_Name).FirstOrDefault();
                                var DD = GetThatValue != null ? GetThatValue.Attendence.ToString() : "NA";
                                <text> @DD </text>



                            }
                        </td>
                                }


                    <td>
                        @Html.Action("GetTotalAttendence", "Admin", new { emPiD = emp.EmpId, month = month })
                    </td>



                </tr>
                                    }
                                }
    </tbody>


</table>

@using (Html.BeginForm("Finalise", "Admin", FormMethod.Post))
{
    <input type="submit" value="Finalise Attendence" class="bt btn-primary" />
}
