﻿@model HRPayroll.Models.ViewModels.IssueAdvance
@{
    ViewBag.Title = "IssueAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Page Name : Issue Advance : Page 1</h2>
<div style="margin:auto; width:85%;"
@using (Html.BeginForm())
{

    <div class="row" style="margin-left: 4%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom:5%;
    width: 93%;">
        <div class="form-group" style="margin-left: 20%;">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="form-group" style="margin-left:3%;margin-top: 2%;">
            <input type="button" value="Go" id="btnGo" class="btn btn-primary" />
        </div>
        <div class="form-group" style="margin-left: 2%;">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="form-group" style="margin-left: 2%;   
    margin-top: 2%;">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
            
        </div>
    </div>
}
</div>
<div class="row" style="margin:auto; width:80%;">
    @if (Model.IssueAdv == null)
    {
        @*<h2>No Data is Present</h2>*@

    }
    else
    {
    @Html.HiddenFor(a => a.Emp_Id)


    <table class="table table-striped" >
        <tr>
            <th>Employee Name</th>
            <th>Organisation</th>
            <th>Department</th>
            @*<th>Issue Advance</th>
            <th>Advance Due</th>*@
            <th>Action</th>
        </tr>
        <tbody>
            @foreach (var item in Model.IssueAdv)
            {

                <tr>
                    <td>
                        <a href="/Admin/ViewProfile?id=@item.Emp_Id">@item.Name</a></td>
                    <td>@item.OrgName</td>
                    <td>@item.DeptName</td>
                    @*<td>@item.Issue_Advance</td>
                    <td>@item.Advance_Due</td>*@
                    <td><a href="/Admin/markAdvance?Empid=@item.Emp_Id" class="btn btn-primary">Adjust Advance</a>
                        <a href="/Admin/generateAD?Empid=@item.Emp_Id" class="btn btn-primary">Issue Advance</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Admin/ViewProfile?id=@Model.IssueAdv.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a>
    }
  
</div>

<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#btnGo").click(function () {
        debugger
        var OrganisationId = $("#OrganisationId").val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>


