﻿@model HRPayroll.Models.ViewModels.UserDTO

@{
    ViewBag.Title = "LogOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:2%; margin-bottom:2%; margin-left:10%">
    <div class="col-md-2"><a href="/Admin/Admin" class="btn btn-primary">Back to Home</a></div>
    <div class="col-md-3"><a href="/Admin/Controls" class="btn btn-primary">Back to Control</a></div>
</div>
<h2 style="text-align:center; color:cornflowerblue">Logout All Users</h2>
<h6 style="text-align:center">Is Login?? Stands for "All the User has been Logged out by Admin"</h6>
<div style="width:80%; margin:auto">
   
@using (Html.BeginForm("LogOutAll", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Last Login Time</th>
            <th>Is Login??</th>
            
            
        </tr>
        @foreach (var item in Model.UsersList)
        {

            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Logintime</td>
                    <td>@item.IsLogin</td>
                </tr>

            </tbody>
        }
        <tr><td><input type="submit" value="Logout" class="bt btn-primary" /></td></tr>
       
    </table>
    if (TempData["msg"] != null)
    {
        <span style="text-align:center; color:rebeccapurple; font-size:larger"> @TempData["msg"]</span>
    }
}

    </div>