﻿@model HRPayroll.Models.ViewModels.IssueAdvance
@{
    ViewBag.Title = "markAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int prev = 0;
    int last = 0;


}

<h2 style="text-align:center">Page Name : Issue Advance Page 2</h2>
<div style="margin:auto; width:80%">
    @using (Html.BeginForm())
    {
        if (Model.IssueAdv.Count == 0)
        {

            <h2> No Advance Generated Records</h2>
            <table>
                <tbody>
                    <tr style="margin-top:1%">


                        <th> Date(When Adjusted) </th>


                        <td> @Html.TextBoxFor(a => a.AdjustedDate, new { @class = "form-control", type = "date", required = "required" }) </td>


                    </tr>


                    <tr style="margin-top:1%">


                        <th> Adjusted Advance </th>


                        <td> @Html.TextBoxFor(a => a.Advance_Due, new { @class = "form-control", required = "required" }) </td>


                    </tr>


                    <tr style="margin-top:1%">


                        <th> Balance Advance </th>


                        <td> @Html.TextBoxFor(a => a.Balance, new { @class = "form-control", required = "required" }) </td>



                    </tr>


                    <tr style="margin-top:1%">


                        <td>
                        <input type="submit" id="" class="btn btn-primary" value="Submit" /> </td>
                        @*<td><a href="/Admin/ViewProfile?id=@Model.IssueAdv.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a></td>*@
                    </tr>

                </tbody>
            </table>
            if(TempData["msg"] != null)
            {
                <span style="color:red">@TempData["msg"]</span>

            }


        }
        else
        {
        <table class="table table-striped">
            <tr>

                <th>Date</th>
                <th>Advance Issued</th>
                <th>Total</th>

                <th>Date </th>
                <th>Advance Adjusted</th>
                <th>Total</th>
                <th>Balance</th>

            </tr>
            @for (int i = 0; i < Model.IssueAdv.Count; i++)
            { //For Adjusted CLs
                int adjusted = (int)Model.IssueAdv[i].Advance_Due;//Advance Due As Advance Adjusted
                int add = last + adjusted;

                //For Issued CL
                int current = (int)Model.IssueAdv[i].Issue_Advance; // Get the Current cl of the month from Index
                int sum = prev + current;// Add Previous(Declared 0 Intially) with Current

                int clAdjusted = (int)Model.IssueAdv[i].Advance_Due;
                int bal = sum - clAdjusted;
                <tr>
                    <td>
                        <input type="hidden" value="@Model.IssueAdv[i].Emp_Id">
                        @if (Model.IssueAdv[i].Dated != null)
                        {
                            <span>
                                @Model.IssueAdv[i].Dated.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>

                    <td>@current</td>

                    <td>@sum</td>

                    <td>
                        @if (Model.IssueAdv[i].Adjusted_Date != null)
                        {
                            <span>
                                @Model.IssueAdv[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>
                    <td>@adjusted</td>
                    <td>@add</td>
                    @*Issued Cl + EncashedCL*@
                    <td>@bal</td>



                    @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@

                </tr>

                prev = sum; //Assign sum into previous
                last = add; //Assign add Adjusted CL into last (value)
                <tr>
                    <th>Current Balance of Advance</th>
                    <th>@bal</th>
                </tr>

            }
           


        </table>

        <table>
            <tbody>
                <tr style="margin-top:1%">
                    <th>Date(When Adjusted)</th>
                    <td>@Html.TextBoxFor(a => a.AdjustedDate, new { @class = "form-control", type = "date", required = "required" })</td>
                </tr>
                <tr style="margin-top:1%">
                    <th>Adjusted Advance</th>
                    <td>@Html.TextBoxFor(a => a.Advance_Due, new { @class = "form-control" }) </td>
                </tr>
                <tr style="margin-top:1%">
                    <th>Balance Advance</th>
                    <td>@Html.TextBoxFor(a => a.Balance, new { @class = "form-control" }) </td>

                </tr>
                <tr style="margin-top:1%">
                    <td><input type="submit" id="" class="btn btn-primary" value="Submit" /> </td>
                    <td><a href="/Admin/ViewProfile?id=@Model.IssueAdv.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a></td>
                </tr>
               
            </tbody>

        </table>
        }
        if (TempData["msg"] != null)
        {
            <span style="color:red">@TempData["msg"]</span>

        }


    }
</div>



