﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel
@{
    ViewBag.Title = "MarkCl";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int prev = 0;
    int last = 0;
}

<h2 style="text-align:center">Mark Casual Leaves</h2>

<div style="margin:auto; width:80%">
    @using (Html.BeginForm())
    {
        <table class="table table-striped">
            <tr>
                @Html.HiddenFor(a => a.Id)
                <th>Date</th>
                <th>CL Issued</th>
                <th>Total</th>

                <th>Date </th>
                <th>CL Adjusted</th>
                <th>Total</th>
                <th>Balance</th>

            </tr>
                        @for(int i=0;i<Model.empList.Count;i++)
                           
                        { //For Adjusted CLs
                            int adjusted = (int)Model.empList[i].Casual_Leave;
                            int add = last + adjusted;

                            //For Issued CL
                            int current = (int)Model.empList[i].availCL; // Get the Current cl of the month from Index
                            int sum = prev + current;// Add Previous(Declared 0 Intially) with Current

                            int clAdjusted = (int)Model.empList[i].Casual_Leave;
                            int bal = sum - clAdjusted;
                                <tr>
                                   <td>
                                       @Html.HiddenFor(a => a.Id)
                                        @Html.HiddenFor(a => a.Emp_Id)
                                        @if (Model.empList[i].Dated != null)
                                        {
                                            <span>
                                                @Model.empList[i].Dated.Value.ToString("dd-MMM-yyyy")
                                            </span>
                                        }
                                     </td>
                                    
                                    <td>@current</td>
                                    
                                    <td>@sum</td>

                                    <td>
                                         @if (Model.empList[i].Adjusted_Date != null)
                                       {
                                            <span>
                                                @Model.empList[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                                            </span>
                                        }
                                    </td>
                                    <td>@adjusted</td>
                                    <td>@add</td>
                                    @*Issued Cl + EncashedCL*@
                                    <td>@bal</td>
                                    @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@
                                </tr>
                            prev = sum; //Assign sum into previous
                            last = add; //Assign add Adjusted CL into last (value)
                            <tr>
                                <th>Current Balance of CLs</th>
                                <th>@bal</th>
                            </tr>
                        }
            

            
        </table>

        <table>
            <tbody>
               

                <tr style="margin-top:1%">
                    <th >Date(When Adjusted)</th>
                    <td>@Html.TextBoxFor(a => a.Adjusted_Date, new { @class = "form-control", type = "date", required = "required" })</td>

                </tr>
                <tr style="margin-top:1%">
                    <th>Adjusted CLs</th>
                    <td>@Html.TextBoxFor(a => a.CasualLeaves, new { @class = "form-control" }) </td>

                </tr>
                <tr style="margin-top:1%">
                    <th>Balance CLs</th>
                    <td>@Html.TextBoxFor(a => a.Balance_CL, new { @class = "form-control" }) </td>

                </tr>
                <tr style="margin-top:1%">
                    <td></td>
                    <td><input type="submit" id="" class="btn btn-primary" value="Submit" /> </td>

                </tr>

            </tbody>

        </table>
        if (TempData["msg"] != null)
        {
            <span style="color:green">@TempData["msg"]</span>
        }


        <a href="/Admin/ViewProfile?id=@Model.empList.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a>
    }
</div>
<script src="/scripts/jquery-1.12.4.js"></script>

@*<script>
    $("#btnSubmit").click(function () {
        debugger
        var current = $(this);
        var empid = current.parent().siblings().find("#id").val();
        var availcl = current.parent().siblings().find("#cl").val();
        var updateCL = current.parent().siblings().find('#updatecls').val();
        var Data = JSON.stringify({
            empid: empid,
            availcl: availcl,
            updateCL: updateCL
        });
        $.ajax({
            url: '/Admin/MarkCls',
            type: 'post',
            contentType:'application/json',
            data:Data,
        }).then(function (response) {
            console.log(response);
            response = availcl + CL;
            if (response == 'Ok') {
                current.val('saved');
            }
        },
            function (error) {
                 console.log(error.responseText);
        });
    });
</script>*@

@*<script>

    var targets;

    $(document).ready(function () {
        targets = $(".toAdd");
        targets.blur(add);
        $("#frm").submit(add);
    })

    function add() {
        var total = 0;

        targets.each(function (i, e) {
            if (!isNaN(e.value)) {
                total += parseInt(e.value);
            }
        });

        $("#Number3").val(total);
    }
</script>*@

<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('datepicker').datepicker();
    $(".datepicker").datepicker.regional[""].dateFormat = 'dd/mm/yyyy';
    $(".datepicker").datepicker("setDate", new Date());
</script>


<script>
    $(window).load(function () {
        debugger
        var sum = ParseInt($('input[name=sum]').val());
        var carry = ParseInt($('input[name=carry]').val());
        var total = sum + carry;
        $('.result').html(total);

    });

</script>