﻿@model HRPayroll.Models.ViewModels.nclVM

@{
    ViewBag.Title = "NCL";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int prev = 0;
    int last = 0;
}

<div style="margin:auto; width:80%">
    @using (Html.BeginForm())
    {
        if (Model.list.Count == 0 )
        {

            <h2> No Records</h2>



        }
        else
        {
        <table class="table table-striped">
            <tr>

                <th>Date</th>
                <th>NCL Issued</th>
                <th>Total</th>

                <th>Date </th>
                <th>NCL Adjusted</th>
                <th>Total</th>
                <th>Balance</th>

            </tr>
            @for (int i = 0; i < Model.list.Count; i++)
            {   //For Adjusted CLs
                int adjusted = (int)Model.list[i].NCL_Adjusted;
                int add = last + adjusted;

                //For Issued CL
                int current = (int)Model.list[i].NCL; //Get the Current cl of the month from Index
                int sum = prev + current;  //Add Previous(Declared 0 Intially) with Current

                int clAdjusted = (int)Model.list[i].NCL_Adjusted;
                int bal = sum - clAdjusted;
                <tr>
                    <td>
                        @Html.HiddenFor(a => a.EmpId)
                        @if (Model.list[i].dated != null)
                        {
                            <span>
                                @Model.list[i].dated.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>

                    <td>@current</td>

                    <td>@sum</td>

                    <td>
                        @if (Model.list[i].Adjusted_Date != null)
                        {
                            <span>
                                @Model.list[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>
                    <td>@adjusted</td>
                    <td>@add</td>
                    @*Issued Cl + EncashedCL*@
                    <td>@bal</td>



                    @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@

                </tr>

                prev = sum; //Assign sum into previous
                last = add; //Assign add Adjusted CL into last (value)
                <tr>
                    <th>Current Balance of NCLs</th>
                    <th>@bal</th>
                </tr>

            }
         


        </table>
        <table>
            <tbody>
                <tr style="margin-top:1%">
                    <th>Date(When Adjusted)</th>
                    <td>@Html.TextBoxFor(a => a.Adjusted_Date, new { @class = "form-control", type = "date", required = "required" })</td>

                </tr>
                <tr style="margin-top:1%">
                    <th>Adjusted NCLs</th>
                    <td>@Html.TextBoxFor(a => a.NCL_Adjusted, new { @class = "form-control" }) </td>

                </tr>
                <tr style="margin-top:1%">
                    <th>Balance NCLs</th>
                    <td>@Html.TextBoxFor(a => a.NCL_Balance, new { @class = "form-control" }) </td>

                </tr>
                <tr style="margin-top:1%">
                    <td></td>
                    <td><input type="submit" id="" class="btn btn-primary" value="Submit" /> </td>
                    <td>
                        <a href="/Admin/ViewProfile?id=@Model.list.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a>
                    </td>
                </tr>

            </tbody>

        </table>
        }
        //@TempData["msg"];
        // <a href="/Admin/ViewProfile?id=@Model.list.FirstOrDefault().Emp_Id" class="btn btn-primary">Back To Profile</a>
    }
</div>
<script src="/scripts/jquery-1.12.4.js"></script>




