﻿@model HRPayroll.Models.ViewModels.DeptSearch

@{
    ViewBag.Title = "searchbyDept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @*<div class="form-group">
        Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "" })
    </div>
    <div class="form-group">
        Department: @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "" })
    </div>*@
    <div class="form-group">
        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
        </div>



        }


<h3>Employees</h3>
@*@if (Model.Count() < 1)
{
    <h5>No record found</h5>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Current Salary</th>
                <th></th>
                <th>DOB</th>
                <th>Email</th>
                <th>Father_Name</th>
                <th>Gender</th>
                <th>H_F_Name</th>
                <th>Emergency_C</th>
                <th>Dept</th>
                <th>Org</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Employee)
                {
                <tr>
                  
                    <td>@item.Name</td>
                    <td>@item.Aadhar_Number</td>
                    <td>@item.</td>
                    <td>@item.DOB.ToString("dd-MMM-yyyy")</td>
                    <td>@item.Email</td>
                    <td>@item.Father_Name</td>
                    <td>@item.Gender</td>
                    <td>@item.H_F_Name</td>
                    <td>@item.Emergency_C</td>
                    <td>@item.DeptName</td>
                    <td>@item.OrgName</td>
                    <td>
                        @Html.DropDownListFor(x => x.StatusId, Model.StatusList, new { @class = "" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}*@
