﻿@model IPagedList<HRPayroll.Models.DomainModels.Employee>
@using PagedList.Mvc;
@using PagedList;   

@{
    ViewBag.Title = "Show Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:98%;margin:auto">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3">
                @Html.TextBox("sDate",null, htmlAttributes: new { @class = "form-control datepicker", placeholder = "Start Month"})
            </div>
            <div class="col-md-3">
                 @Html.TextBox("eDate",null,htmlAttributes: new { @class = "form-control datepicker", placeholder = "End Month"})
            </div>
            <div class="col-md-3">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Find" />
            </div>


        </div>

    }

    <h3>Employees</h3>
    @if(Model.Count()<1)
    {
        <h5>No record found</h5>
    }
    else
    { 
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Aadhar_Number</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Father_Name</th>
                <th>Gender</th>
                <th>H_F_Name</th>
                <th>Emergency_C</th>
                <th>Joining_Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
{
        <tr>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Aadhar_Number</td>
            <td>@item.Address</td>
            <td>@item.DOB.ToString("dd-MMM-yyyy")</td>
            <td>@item.Email</td>
            <td>@item.Father_Name</td>
            <td>@item.Gender</td>
            <td>@item.H_F_Name</td>
            <td>@item.Emergency_C</td>
            <td>@item.Joining_Date.ToString("dd-MMM-yyyy")</td>
            
        </tr>
}
        </tbody>
    </table>
    }

</div>    

 <script type="text/javascript">

     $(document).ready(function () {
         $(".datepicker").datepicker();

     });
        </script>
        @*<script type="text/javascript">

     //$(document).ready(function () {
     //    $(".datepicker").datepicker({
     //        dateFormat: "dd/mm/yy",
     //        changeMonth: true,
     //        changeYear: true,
     //        yearRange: "-60:+0"
     //    });

     //});
        </script>*@

