﻿@model HRPayroll.Models.ViewModels.EditAttendence

<table class="table table-bordered table-striped" style="margin-top:5%; margin-left: 33% !important;
    width: 60%;">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Attendence</th>
            @*<th>Date</th>*@
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.empList.Count; i++)
        {
            <tr>
                <td>
                    @Model.empList[i].Name
                </td>
                <td>
                    <select disabled>
                        <option>
                            @Model.empList[i].AttendenceName
                        </option>
                    </select>
                    @*@Html.DropDownListFor(Model.empList[i].Att_ID);*@
                </td>
            </tr>
        }
    </tbody>
</table>

