﻿@model HRPayroll.Models.ViewModels.StatusDTO

@{
    int count = 0;
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:80%; margin:auto">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrganisationId)</span>

        </div>

        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DepartmentId)</span>

        </div>
        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Search" />
        <a href="/Admin/Status" class="btn btn-primary">Show All</a>
    }

    @if (Model.empList.Count() < 1)
    {
        <h5>No record found</h5>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>DOJ</th>
                     <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.empList)
                {
                    <tr>
                        <td id="id" type="hidden" value="@item.Id">@item.Name</td>
                        <td id="Status">
                            <span id="msg"></span>
                            @Html.DropDownList("Status", Model.StatusList, "Status", new { @class = "form-control status", style = "width=3.25rem" })
                        </td>
                       
                        <td>@item.DOJ.ToString("dd-MMM-yyyy")</td>
                     
                    <td>
                        @*<img id="pic" src=""  style="display:none;height:20px;width:20px" />*@
                        <input type="button" class="btn btn-info btnStatusSubmit" value="submit" />
                    </td>
                </tr>
                    count = count + 1;
                }
            </tbody>
        </table>
    }
</div>
<script src="/scripts/jquery-1.12.4.js"></script>
<script>
    $(".btnStatusSubmit").click(function () {debugger
        var current = $(this);
        current.val("wait..");
        current.attr('disabled', 'disabled');
        //var img = current.siblings("#pic");
        //img.attr('src', '/images/loader.png');
        //img.show();
        var id = current.parent().siblings().find("#id").val();
        var status = current.parent().siblings().find('#Status').val();
        //var date = current.parent().siblings().find('#date').val();
        var frmData= JSON.stringify({
            EmpId:id,
            status: Status,
        });
        $.ajax({
            url: '/Admin/SaveStatus',
            type: 'post',
            contentType:'application/json',
            data:frmData,
        }).then(function (response) {
            console.log(response);
            if (response == 'ok') {
                current.val('Saved');
            }
                //img.attr('src', '/images/correct.png');
            else {
                current.val('error');
                //img.attr('src', '/images/cancel.png');
                current.removeAttr("disabled");

            }

        }, function (error) {
            //img.attr('src', '/images/cancel.png');
            console.log(error.responseText);

        });
        // img.hide();


    });
</script>


<script src="~/scripts/jquery-1.12.4.min.js"></script>


<script>
    $("#OrganisationId").change(function () {
        var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrg?orgId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }


        });
    });

</script>





