﻿@model HRPayroll.Models.DomainModels.Attendence

@{
    ViewBag.Title = "totalAttendence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Total Attendence</h2>
 
<table>
    <tr><th>TA</th>
        <th>TP</th>
    </tr>
    <tbody>
        @foreach(var item in Model.att)
        {
            <tr><td>@item.TA</td>
                <td>@item.TP</td>
        </tr>

        }
    </tbody>
</table>
