﻿@model HRPayroll.Models.ViewModels.SalaryLedgerDTO

@{
    ViewBag.Title = "UpdateSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:auto; width:50%">
    <h2>Change Salary of Employee</h2>

    @using (Html.BeginForm("UpdateSalary", "Admin", FormMethod.Post, new { id = "frmSal" }))
    {
        @Html.HiddenFor(a => a.EmpId)
       
        <div class="form-group">
            New Salary: @Html.TextBoxFor(x => x.CurrentSalary, new { @class="form-control"})
            <span style="color:red"> @Html.ValidationMessageFor(x => x.CurrentSalary)</span>
        </div>
            <div class="form-group">
                Remarks (Optional) :@Html.TextAreaFor(x => x.Remarks, new { @class = "form-control" })
                <span style="color:red"> @Html.ValidationMessageFor(x => x.Remarks)</span>
                    </div>
                    <span id="msg"></span>
                    if (TempData["msg"] != null)
                    {
                        <div class="form-group">
                            @TempData["msg"]
                        </div>
                    
                    }
        <div class="row">
            <div class="form-group col-md-3" style="width:20%">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" style="width:70%" />
            </div>
           
            <div class="form-group col-md-3" style="width:20%">
                <a class="btn btn-primary" href="/Admin/Admin">Back To Home</a>
             </div>
            <div class="form-group col-md-3" style="width:20%">
                <a class="btn btn-primary" href="/Admin/ViewProfile?id=@Model.EmpId">Back To Employee Profile</a>
            </div>

        </div>

    }
</div>
 


  