﻿@model HRPayroll.Models.ViewModels.EditAttendence

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:cornflowerblue">Mark Attendance</h2>
@using (Html.BeginForm())
{
    <a href="/Admin/ViewAttendece" class="btn btn-primary" style="margin-left: 80%;">View Attendence</a>
            <div class="row" style="margin-left: 4%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom:5%;
    width: 93%;">
                <div class="col-md-3" style="margin-left:1%">
                    @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                </div>
                <div class="col-md-1" style="margin-top: 0% !important; margin-left: -10% !important;">
                    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" style="margin-left: -1%;
    width: 100%;" />
                </div>
                <div class="col-md-2" style="">
                    <input name="term" placeholder="Search by name" class="form-control" />
                </div>
                <div class="col-md-2" style="">
                    <input type="submit" value="Search" class="btn btn-info" />

                </div>
            </div>



}
@*<div style="width:80%;padding-left: 30% !important;
        width: 80%;">
    </div>*@
<div style="width:80%; margin-top:3%;">
    @if (TempData["msg"] != null)
    {
        <span><h2 style="text-align:center">@TempData["msg"]</h2></span>
    }
    @if (Model.List == null)
    {
        <h2 style="text-align:center">@ViewBag.Msg</h2>
    }
    else
    {
        using (Html.BeginForm("UpdateAtendence", "Admin",FormMethod.Post))
        {
                        <table class="table table-bordered table-striped" style="margin-top:2%; margin-left:12% !important">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Attendence</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.List.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(a => a.List[i].Id, new { @class = "form-control" })
                                @Html.HiddenFor(a => a.List[i].Emp_Id, new { @class = "form-control" })
                                @Model.List[i].Name
                            </td>
                            <td>

                                @Html.DropDownListFor(a => a.List[i].Att_ID, Model.AttendenceList, "Select Any", new { @class = "form-control attendance", required = "required" })
                            </td>
                           <td>@Html.TextBoxFor(a=> a.date, new  {@type="date" })</td>
                           <td>
                                    <input type="submit" class="btn btn-info" value="submit" />

                                </td>
                        </tr>
                    }
   
                </tbody>
            </table>


            <span id="msg1"></span>

        }
    }
</div>

<script src="/scripts/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    @*<script>
        $(".btnAttendanceSubmit").click(function () {
            debugger
            var current = $(this);
            current.val("wait..");
            current.attr('disabled', 'disabled');
            var id =     current.parent().siblings().find("#id").val();
            var att_id = current.parent().siblings().find('#Att_Id').val();
            var frmData= JSON.stringify({
                EmpId:id,
                att_Id:att_id,
                Date:  $("input[name='Date']").val(),
            });
            $.ajax({
                url: '/Admin/SaveAttendance',
                type: 'post',
                contentType:'application/json',
                data:frmData,
            }).then(function (response) {
                console.log(response);
                if (response == 'ok') {
                    current.val('Saved');
                }
                    //img.attr('src', '/images/correct.png');
                else {
                    current.val('error');
                    //img.attr('src', '/images/cancel.png');
                    current.removeAttr("disabled");

                }

            }, function (error) {
                //img.attr('src', '/images/cancel.png');
                console.log(error.responseText);

            });
            // img.hide();


        });
    </script>*@





@*<script>
        $("#btnSave").click(function () {
            debugger
            var currentBtn = $(this);
            var msg = $("#msg");
            currentBtn.attr("disabled", "disabled");
            msg.text("wait...");
            var frmData = $("#frmEmp").serialize();
            $.ajax({
                url: '/Admin/SaveAttendance',
                type: 'post',
                data: frmData,
                success:function(response)
                {
                    if(response=="ok")
                    {
                        msg.text("Successfully added").css("color", "green");

                    }
                    else
                    {
                        msg.text(response).css("color", "red");
                    }
                    currentBtn.removeAttr("disabled");
                },
                error:function(response)
                {
                    msg.text("Internal server error").css("color", "red");
                    currentBtn.removeAttr("disabled");
                    console.log(response.responseText);
                }
            });
        });
    </script>*@
@*<script>

        $(function () {
            $("#btnadd").click(function () {
                debugger
                var n = $("table").find("tr").length;

                for (var i = 1; i < n; i++) {
                    var EmpId = $("input[type=hidden]").val();
                    var att_Id = $('#Att_Id').val();
                    var Date = $('input[name=date]').val();
                    if (n == n) {

                        alert("Kindly Fill all the Employee Attendence of Selected Department.")
                    }
                    else {
                        //alert(salary);
                        $.ajax({
                            type: "Post",
                            url: "Admin/Insert",
                            data: "{'EmpId':" + EmpId + ",'att_Id':'" + att_Id + "','Date':'" + Date + "'}",

                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function () {
                                //alert("complete");
                            },
                            error: function (err) {
                                alert(err);
                            }
                        })
                    }
                }
            })
        })


    </script>*@

<script type="text/javascript">
$(".datepicker").datepicker();
         //$(".datepicker").datepicker("setDate", new Date());
         //var getDate=  $(".datepicker").datepicker(getDate());
    //var getDate = $('.datepicker').datepicker.her
    $(".datepicker").datepicker({dateFormat:'dd/mm/yy'}).val();
</script>


<script>
    $("#OrganisationId").change(function () {
        debugger
        var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
@*<script>

      $('.nextDay').on("click", function () {
          debugger
          var dt = new Date($('#date').val());
          dt.setDate(dt.getDate() + 1); // add 1 days
          $('#date').val(getDateFormat(dt));
      });


        $('.preDay').click(function () {
            debugger
            var dt = new Date($('#date').val());
            dt.setDate(dt.getDate() -1); // add 1 days
            $('#date').val(getDateFormat(dt));

        });

        function getDateFormat(d) {
            return "0" + (d.getMonth() + 1) + "/" + d.getDate() + "/" + d.getFullYear();
        }
</script>*@
