﻿@Model 

<table class="table table-bordered table-striped" style="margin-top:5%; margin-left: 33% !important;
    width: 60%;">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Attendence</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model)
        {
            <tr>
                <td>
                    @Model.empList.FirstOrDefault().Name
                </td>
                <td>
                    <select disabled>
                        <option>
                            @Model.empList.FirstOrDefault().AttendenceName
                        </option>
                    </select>
                </td>
            </tr>
        }
    </tbody>
</table>

