﻿@model HRPayroll.Models.ViewModels.UserDTO

@{
    ViewBag.Title = "viewLoginTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Login Details of Users</h2>

<div style="margin:auto; width:80%">
    <div class="row">
        <div class="col-md-4"><a class="btn btn-secondary" href="/Admin/Controls">Back</a></div>
        <div class="col-md-4"><a href="/Users/NewUser" class="btn btn-primary">Create New</a></div>
        <div class="col-md-4"><a href="Admin/Index" class="btn btn-dark">Home</a></div>
    </div>
    <hr />
    
        <table class="table table-striped" >
            <tr>
                <th>Name</th>
                <th>Last Login Time</th>
                <th>Status</th>
                <th>Role</th>
              </tr>
    @foreach (var item in Model.UsersList)
    {

                   <tbody>
                       <tr>
                           <td>@item.Name</td>
                           <td>@item.Logintime</td>
                           <td>@item.Status</td>
                           <td>@item.role</td>
                       </tr>

          </tbody>
    }

            </table>

    


    
    </div>