﻿@model HRPayroll.Models.ViewModels.ViewSalary

@{
    int count = 0;
    ViewBag.Title = "ViewSalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:50%; margin:auto;">
    @using (Html.BeginForm())
    {<div style="margin-left: 4%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom:5%;
    width: 93%;">
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrganisationId)</span>

        </div>

        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DepartmentId)</span>

        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Filter" />
        </div>
    </div>

    }

    </div>

@if (Model.viewsalary.Count() < 1)
{
    <h5>No record found</h5>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>Name</th>
                <th>Current Salary</th>
                <th>Organisation</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.viewsalary)
            {
                <tr>
                    <td id="colId">@item.Id</td>
                    <td id="colName">@item.Name</td>
                    <td>@item.Curr_Salary</td>
                    <td>@item.OrgName</td>
                    <td>@item.DeptName</td>
                </tr>
                count = count + 1;
            }
        </tbody>
    </table>
  

}
</div>



  

