﻿﻿@model IEnumerable<HRPayroll.Models.ViewModels.EmployeeAtt>

@{
    ViewBag.Title = "ViewAttendece";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DaysInmonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
    var currentName = "";

}


@if (TempData["msg"] != null)
{
    <span style="text-align:center; color:deeppink; margin-left: 44%; font-size:x-large"> @TempData["msg"]</span>

}
<h2 style="text-align:center">View Attendence</h2>
@using (Html.BeginForm())
{
    <div class="row" style="margin-left: 12%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 82%;
    margin-bottom: 3%;">
        <div class="form-group" style="margin-left: 2%;">
            Organisation: @Html.DropDownList("OrgId", new SelectList(Model.Select(a => a.OrganizationList)), "select orgnisation", new {@class="form-control", style= "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="" style="margin-top: 2%;">
            <input type="button" value="Go" style="margin-left: 15%;" id="btnGo" class="btn btn-primary" />
        </div>
        <div class="" style="margin-left: 3%;">
            Department: @Html.DropDownList("DeptId", Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
        </div>
        <div class="" style="margin-left: 3%;">
            Select Month
            <select name="Month1" class="form-control" style="height: calc(3.25rem + 2px) !important;">
                <option selected value=''>Select Month</option>
                <option value='1'>Janaury</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 2%; margin-top:2%;">
            <input type="submit" id="btnsubmit" class="btn btn-primary" value="Filter" />

        </div>
        <div class="" style="margin-top: 2%;
    margin-left: 2%;">
            <a href="/Admin/EditAttendence" class="btn btn-primary">Mark Attendence</a>
        </div>
    </div>
    
}
@if (Model.Count() < 0)
{


}
else
{
    <table class="table table-bordered" style="overflow-x:auto;">
        <thead>
            <tr>

                <th>Employee Name</th>
                <!--Loop all the days of month and print it-->
                @for (var numb = 1; numb <= DaysInmonth; numb++)
                {
                    <th>@numb</th>

                }

                <th>TP</th>

            </tr>
        </thead>

        <tbody>
            <!--Loop model-->
            @foreach (var emp in Model)
            {
                int month = Convert.ToInt32(ViewBag.month);
                ViewBag.mth = month;
                ViewBag.org = emp.OrgId;
                ViewBag.dept = emp.DeptId;
                if (currentName != emp.Emp_Name)
                {
                    // Set Name

                    currentName = @emp.Emp_Name;
                    <tr>
                        <td>
                            <input type="hidden" value="@emp.EmpId" />

                            <a href="/Admin/ViewProfile?id=@emp.EmpId">@emp.Emp_Name</a>
                        </td>
                        @for (var numb = 1; numb <= DaysInmonth; numb++)
                        {

                            <td>

                                @{
                            var GetThatValue = Model.Where(a => a.Date.Value.Day == numb && a.Emp_Name == emp.Emp_Name && a.Date.Value.Month == month).FirstOrDefault();
                            var DD = GetThatValue != null ? GetThatValue.Attendence.ToString() : "NA";
                                    <text> @DD </text>



                                }
                            </td>
                                    }


                        <td>
                            @Html.Action("GetTotalAttendence", "Admin", new { emPiD = emp.EmpId, month = month })
                        </td>



                    </tr>
                                        }
            }
        </tbody>


    </table>

                                    using (Html.BeginForm("Finalise", "Admin", FormMethod.Post))
                                    {
                                        <input type="submit" value="Finalise Attendence" class="bt btn-primary" style="margin-left: 2.2% !important;" onclick="return confirm('Are you sure?')" />
                                    }
                                   
                                    }
<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    //$("#DeptId").append(function () {
    //debugger
    //   var DepartmentId = $(this).val();
    //  var deptId = $("#DeptId");
    //    //deptId.empty();
    //    //deptId.append("<option value=''> Select Department </option>");
    //    $.ajax({
    //        url: "/Admin/GetDepartments",
    //        type: "get",
    //        success: function (response) {
    //            //  console.log(response);
    //            //$.each(response, function (key, value) {
    //            //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

    //            //});
    //            if (response.length > 0) {
    //                for(let i=0;i<response.length;i++)
    //                {
    //                    deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

    //                }
    //            }
    //        },
    //        error: function(error){

    //            console.log(error.responseText);
    //        }
    //    });
    //});


    $("#OrgId").append(function () {
        debugger
        var OrganisationId = $(this).val();
        var orgId = $("#OrgId");
        //deptId.empty();
        //deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetOrgnisation",
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for (let i = 0; i < response.length; i++) {
                        orgId.append("<option value= '" + response[i].OrgId + "'>" + response[i].OrgName + "</option>");

                    }
                }
            },
            error: function (error) {

                console.log(error.responseText);
            }
        });
    });


</script>


<script>
    $("#btnGo").click(function () {
        debugger
        var OrganisationId = $("#OrgId").val();
        var deptId = $("#DeptId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        console.log(deptId);
        $.ajax({

            url: "/Admin/GetDepartmentsOrgId?OrganisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>


