﻿@model HRPayroll.Models.ViewModels.EditAttendence
<link href="/Styles/bootstrap.min.css" rel="stylesheet" />
@if (Model != null && Model.view != null && Model.view.Count() > 0)
{
    if (ViewBag.Msg != null)
    {
        <span style="font-size:larger; color:red; margin-left: 45%;">@ViewBag.Msg</span>
    }

    <table id="ten" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Attendence</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.view)
                {

                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <select disabled>
                            <option>
                                @item.AttendenceName
                            </option>
                        </select>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    if(TempData["msg"] != null)
    {
        <h2 style="text-align:center">@TempData["msg"]</h2>
    }
}
