﻿@model HRPayroll.Models.ViewModels.StatusDTO


@{
    int count = 0;
    ViewBag.Title = "ViewStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center;">View Status of Employee</h2>
<div class=""  style="width:80%; margin:auto;">
     @using (Html.BeginForm())
     {
         <div class="row" style="margin-left: 4%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom:5%;
    width: 93%;">
          <div class="col-md-5 ">
               <input name="term" placeholder="Search by name" class="form-control" />
          </div>
              <div class="col-md-5 ">
                  <input type="submit" value="Search" class="btn btn-primary" />
                  <a href="/Admin/ViewStatus"
                     class="btn btn-primary">All</a>
                  <a href="/Admin/Admin" class="btn btn-primary">Go to Home</a>
              </div>
            </div>
        
}

@if (Model.empList.Count() < 1)
{
    <h5>No record found</h5>
}
else
{
    <div style="margin-top:1%">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>DOJ</th>
                    <th>DOB</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.empList)
            {
            <tr>
                <td id="@item.Id">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DOJ</td>
                <td>@item.DOB</td>
                <td id="@item.StatusId">@item.empstatus</td>

            </tr>
                count = count + 1;
            }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @* <li class="page-item"><a class="page-link" href="#">Previous</a></li>*@
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <li class="page-item active"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                    }
                }
                @*<li class="page-item"><a class="page-link" href="#">Next</a></li>*@
            </ul>
        </nav>
    </div>
}
</div>

}




