﻿ @model HRPayroll.Models.ViewModels.EmployeeProfileModel
   

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double sal = (Model.CurrentSalary);
    double salary = Math.Round(sal);

    <!--CL Section-->
    int prev = 0;
    int last = 0;

    <!--Advance Section-->
    int prev1 = 0;
    int last1 = 0;

    <!--NCL Section-->
    int prev2 = 0;
    int last2 = 0;
}


<h2 style="text-align:center; color:cornflowerblue">Employee Profile</h2>
<hr/>

  
    <hr />


<div style="margin:auto; width:80%">
@*Employee Profile Started*@

    <h4 style="color:cornflowerblue">Basic Profile</h4>
    <input type="hidden" value="@Model.Employee.profilePic" />
    <input type="hidden" value="@Model.Employee.EmpId" />
    <table class="table table-striped">
     
              <tr>
            <td>
                @if (!string.IsNullOrEmpty(Model.Employee.profilePic))
            {
                    <img src="~/EmployeeImages/@Model.Employee.profilePic" style="width:100px;height:80px" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
            <td>
                <form method="post" action="/Admin/ChnageProfile?id=@Model.Employee.EmpId" enctype="multipart/form-data">

                  <div class="row">
                    <div class="col-md-6">
                        @Html.TextBoxFor(a => a.Profileimage, new { type = "file", @class="form-control" })
                    </div>
                      <div class="col-md-6">
                          <input type="submit" class="btn btn-primary" value="Change" />
                      </div>
                    </div>  
                    
                </form>
</td>
                  <td>
                     
                  </td>
        </tr>
        <tr>
            <th>Name</th>
            <td><input type="hidden" id="ID" value="@Model.Employee.EmpId" />@Model.Employee.Name</td>
            <td></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Employee.Gender</td>
            <td></td>
        </tr>
        <tr>
            <th>Date of Birth</th>
            <td>@Model.Employee.DOB.ToString("dd/MMM/yyyy")</td>
            <td></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><text class="edit" data-id="@Model.Employee.EmpId" data-propertyname="Email">@Model.Employee.Email</text></td>
            @*<td><button type="submit" class="btn btn-primary" value="Save" /></td>*@
        </tr>
        <tr>
            <th>Address</th>
            <td><text class="edit" data-id="@Model.Employee.EmpId" data-propertyname="Address">@Model.Employee.Address</text></td>
           
        </tr>
        <tr>
            <th>Phone</th>
            <td><text class="edit" data-id="@Model.Employee.EmpId" data-propertyname="Phone">@Model.Employee.Phone</text></td>
            <td></td>
        </tr>
        <tr>
            <th>Husband/Wife's Name</th>
            <td>@Model.Employee.H_F_Name</td>
            <td></td>
        </tr>
        <tr>
            <th>Father's Name</th>
            <td>@Model.Employee.Father_Name</td>
            <td></td>
        </tr>
        <tr>
            <th>Mother's Name</th>
            <td>@Model.Employee.Mother_Name</td>
            <td></td>
        </tr>
        <tr>
            <th>Emergency Contact</th>
            <td><text class="edit" data-id="@Model.Employee.EmpId" data-propertyname="Emergency_C">@Model.Employee.Emergency_C</text></td>
            <td></td>
        </tr>
        <tr>
            <th>Aadhar Number</th>
            <td>@Model.Employee.Aadhar_Number</td>
            <td></td>
        </tr>


    </table>
    @*End*@
    <hr />
    <h4 style="color:cornflowerblue">Salary Structure</h4> <a href="/Admin/UpdateSalary?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Update Salary</a>
   @*Employee Salary Structure*@ 
    @if (Model.SalaryLedger.Count() < 1)
    {
        <h3>
            No Salary has been Generated.
        </h3>

    }
    else
    {
        <table class="table table-striped">
        <tr>
            <th>Salary</th>
            <th>Updation Date</th>
            <th>Remarks</th>
        </tr>
        @foreach (var item in Model.SalaryLedger)
                {
            <tr>
                <td>@item.CurrentSalary</td>
                <td>
                    @if (item.Date != null)
                    {
                        <span>
                            @item.Date.Value.ToString("dd-MMM-yyyy") 
                        </span>
                    }
                </td>
                <td>@item.Remarks</td>
            </tr>
        }
    </table>
        
    }
    @*End*@
    <br />
    <h4 style="color:cornflowerblue">CL Ledger</h4><a href="/Admin/MarkCl?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Adjust CL's</a><a href="/Admin/generateCL?EmpId=@Model.Employee.EmpId" class="btn btn-primary" style="margin-left: 2% !important;">Isuue CL's</a>

    @*Employee CL's Structure*@
    @if (Model.leaveslist.Count() < 1)
    {
        <h3>
            No Leaves has been Generated.
        </h3>

    }
    else
    {
        @*<table class="table table-striped">
            <tr>
                <th>Avail CL</th>
                <th>Encashed CL</th>
                <th>Till Date</th>
                <th>Total CL's</th>
                <th>Remarks</th>

            </tr>

            @foreach (var item in Model.leaveslist)
            {
                <tr>
                    <td>@item.availCL</td>
                    <td>
                        @item.Casual_Leave
                    </td>
                    <td>
                        @item.Dated
                    </td>
                  
                    <td>
                     @(item.availCL - item.Casual_Leave)
                    </td>
                    <td>
                        @item.Remarks
                    </td>
                </tr>

            }
        </table>*@
        <table class="table table-striped">
            <tr>

                <th>Date</th>
                <th>CL Issued</th>
                <th>Total</th>

                <th>Date </th>
                <th>CL Adjusted</th>
                <th>Total</th>
                <th>Balance</th>

            </tr>
            @for (int i = 0; i < Model.empList.Count; i++)
            { //For Adjusted CLs
                int adjusted = (int)Model.empList[i].Casual_Leave;
                int add = last + adjusted;

                //For Issued CL
                int current = (int)Model.empList[i].availCL; // Get the Current cl of the month from Index
                int sum = prev + current;// Add Previous(Declared 0 Intially) with Current

                int clAdjusted = (int)Model.empList[i].Casual_Leave;
                int bal = sum - clAdjusted;
                <tr>
                    <td>
                        @*//@Html.HiddenFor(a => a.empList)*@
                        @if (Model.empList[i].Dated != null)
                        {
                            <span>
                                @Model.empList[i].Dated.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>

                    <td>@current</td>

                    <td>@sum</td>

                    <td>
                        @if (Model.empList[i].Adjusted_Date != null)
                        {
                            <span>
                                @Model.empList[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>
                    <td>@adjusted</td>
                    <td>@add</td>
                    @*Issued Cl + EncashedCL*@
                    <td>@bal</td>



                    @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@

                </tr>

                prev = sum; //Assign sum into previous
                last = add; //Assign add Adjusted CL into last (value)

            }
            @*<tr>
                <th>Current Balance of CLs</th>
                <th>@Model.empList.FirstOrDefault().Balance_CL</th>
            </tr>*@


        </table>
    }
    @*End*@
   @**@ <br />
       <h4 style="color:cornflowerblue">Advance Ledger</h4> <a href="/Admin/markAdvance?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Adjust Advance</a> 
    <a href="/Admin/generateAD?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Issue Advance</a>
         @if (Model.empSalaryList.Count() < 1)
         {
             <h3>
                 No Advance has been Generated.
             </h3>

         }
         else
         {
         @*<table class="table table-striped">
        <tr>
            <th>Due Advance of Month</th>
            <th>Issue Advance of Month</th>
            <th>Date</th>
           <th>Total</th>
            <th>Remarks</th>
        </tr>
        @foreach (var item in Model.empSalaryList)
        {
            <tr>
                <td>
                   <input type="hidden" value="@Model.Employee.EmpId" />  
                    @item.Advance_Due
                </td>
                <td>@item.Issue_Advance</td>

                <td>
                    @if (item.Dated != null)
                    {
                        <span>
                            @item.Dated.Value.ToString("dd-MMM-yyyy")
                        </span>
                    }
                </td>

                
                <td>@(item.Issue_Advance-item.Advance_Due)</td>
                <td>@item.Remarks</td>
            </tr>
            
        }
    </table>*@

            <table class="table table-striped">
                <tr>

                    <th>Date</th>
                    <th>Advance Issued</th>
                    <th>Total</th>

                    <th>Date </th>
                    <th>Advance Adjusted</th>
                    <th>Total</th>
                    <th>Balance</th>

                </tr>
                @for (int i = 0; i < Model.IssueAdv.Count; i++)
                { //For Adjusted CLs
                    int adjusted = (int)Model.IssueAdv[i].Advance_Due;//Advance Due As Advance Adjusted
                    int add = last1 + adjusted;

                    //For Issued CL
                    int current = (int)Model.IssueAdv[i].Issue_Advance; // Get the Current cl of the month from Index
                    int sum = prev1 + current;// Add Previous(Declared 0 Intially) with Current

                    int clAdjusted = (int)Model.IssueAdv[i].Advance_Due;
                    int bal = sum - add;
                    <tr>
                        <td>
                            @*@Html.HiddenFor(a => a.Emp_Id)*@
                            @if (Model.IssueAdv[i].Dated != null)
                            {
                                <span>
                                    @Model.IssueAdv[i].Dated.Value.ToString("dd-MMM-yyyy")
                                </span>
                            }
                        </td>

                        <td>@current</td>

                        <td>@sum</td>

                        <td>
                            @if (Model.IssueAdv[i].Adjusted_Date != null)
                            {
                                <span>
                                    @Model.IssueAdv[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                                </span>
                            }
                        </td>
                        <td>@adjusted</td>
                        <td>@add</td>
                        @*Issued Cl + EncashedCL*@
                        <td>@bal</td>



                        @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@

                    </tr>

                    prev1 = sum; //Assign sum into previous
                    last1 = add; //Assign add Adjusted CL into last (value)

                }
               


            </table>

         }


    <br />
    @*End*@
    <br />
    <h4 style="color:cornflowerblue">NCL Ledger</h4>
    <a href="/Admin/NCL?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Adjust NCL</a>
    <a href="/Admin/GenerateNCL?EmpId=@Model.Employee.EmpId" class="btn btn-primary">Issue NCL</a>
    @if (Model.nclList.Count() < 1)
    {
        <h3>
            No NCL has been Generated.
        </h3>

    }
    else
    {
        @*<table class="table table-striped">
            <tr>
                <th>NCL</th>
                <th>Date</th>
            </tr>
            @foreach (var item in Model.nclList)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@Model.Employee.EmpId" />
                        @item.NCL1
                    </td>
                    <td>
                        @if (item.dated != null)
                    {
                            <span>
                                @item.dated.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>*@
        <table class="table table-striped">
            <tr>

                <th>Date</th>
                <th>NCL Issued</th>
                <th>Total</th>

                <th>Date </th>
                <th>NCL Adjusted</th>
                <th>Total</th>
                <th>Balance</th>

            </tr>
            @for (int i = 0; i < Model.list.Count; i++)
            { //For Adjusted CLs
                int adjusted = (int)Model.list[i].NCL_Adjusted;
                int add = last2 + adjusted;

                //For Issued CL
                int current = (int)Model.list[i].NCL;    // Get the Current cl of the month from Index
                int sum = prev2 + current;   // Add Previous(Declared 0 Intially) with Current

                int clAdjusted = (int)Model.list[i].NCL_Adjusted;
                int bal = sum - clAdjusted;
                                <tr>
                    <td>
                        @Html.HiddenFor(a => a.list.FirstOrDefault().Emp_Id)
                        @if (Model.list[i].dated != null)
                        {
                            <span>
                                @Model.list[i].dated.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>

                    <td>@current</td>

                    <td>@sum</td>

                    <td>
                        @if (Model.list[i].Adjusted_Date != null)
                        {
                            <span>
                                @Model.list[i].Adjusted_Date.Value.ToString("dd-MMM-yyyy")
                            </span>
                        }
                    </td>
                    <td>@adjusted</td>
                    <td>@add</td>
                    @*Issued Cl + EncashedCL*@
                    <td>@bal</td>



                    @*<td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>*@

                </tr>

                prev2 = sum; //Assign sum into previous
                last2 = add; //Assign add Adjusted CL into last (value)

            }
            @*<tr>
                <th>Current Balance of NCLs</th>
                <th>@Model.list.FirstOrDefault().NCL_Balance</th>
            </tr>*@


        </table>
    }
    <br />
    <h4 style="color:cornflowerblue">Employee Status</h4>

    <table class="table table-striped">
        <tr>
            <td><b>Change Status</b></td>
       <td></td>
            <td><b>Current Status</b></td>
        </tr>
        <tr>
            <td>

                <input type="hidden" id="ID" value="@Model.Employee.EmpId" />
                @Html.DropDownList("Status", Model.StatusList, "Status", new { @class = "form-control status", style = "width=3.25rem" })
            </td>
            <td>
                <input type="submit" value="Change" id="change" class="btn btn-secondary" />
            </td>
            <td>
                @{
                    string color = Model.Status == "Active" ? "green" : "red";
                }      
                <span style="color:@color; font-size: 30px;">@Model.Status</span>
                    </td>

                </tr>


    </table>





            </div>
            <style>
                .w100 {
                    width: 100px;
                }

                .margin10 {
                    margin-left: 10px;
                }
            </style>

            @section scripts
                {
                <script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
                <script>
                    $(document).ready(function () {
                        var oldValue = "";
                        var newValue="";
                        $('.edit').editable('/Admin/ViewProfile', {
                            cssclass: 'jeditForm',
                            tooltip: 'Click to edit',
                            type: 'text',
                            submit: 'Save',
                            width: 'none',
                            height: 'none',
                            onsubmit: function (settings, original)
                            {
                                debugger
                                oldValue = original.revert;
                            },
                            submitdata: function () {
                                return {
                                    id: $(this).data('id'),
                                    PropertyName: $(this).data('propertyname')
                                }
                            },
                            callback: function (value, settings){
                                var jsonData = $.parseJSON(value);
                                if (jsonData.status) {
                                    $(this).text(jsonData.value);
                                }
                                else {
                                    $(this).text(oldValue);
                                }
                            }
                        });
                    });

                    $('.edit').click(function () {
                        $('text', this).addClass('form-control pull-left w100');
                        $('button', this).addClass('btn btn-primary btn-primary margin50')
                    })
            </script>
               
                

            }

<script>

                    $("#change").click(function () {
                        debugger
        var current = $(this);
        current.val("wait..");
        current.attr('disabled', 'disabled');
   
        var id = current.parent().siblings().find('#ID').val();
        var status = current.parent().siblings().find('#Status').val();
        var frmData= JSON.stringify({
            Emp_Id:id,
            StatusId: status,
        });
        $.ajax({
            url: '/Admin/SaveStatus',
            type: 'post',
            contentType:'application/json',
            data:frmData,
        }).then(function (response) {
            console.log(response);
            if (response == "ok") { // if true (1)
                location.reload(); // then reload the page.(3)

            }
            else {
                current.val('error');
                current.removeAttr("disabled");

            }

        }, function (error) {
            console.log(error.responseText);

        });
        // img.hide();


    });
</script>

<script>
    $('#image').click(function () {
        debugger
        var EmpId = $('input[type=hidden]').val();
        var pic = $('input[type=file]').val();
        $.ajax({
            url: '/Admin/ChangeImage',
            type:'post',
            data: { EmpId, pic },
            success: function (response) {
                console.log(response);
                if (response == 'ok') {
                    current.val('Saved');
                }
                    //img.attr('src', '/images/correct.png');
                else {
                    current.val('error');
                    //img.attr('src', '/images/cancel.png');
                    current.removeAttr("disabled");

            }
        },
            error:function(response)
            {
                console.log(response.responseText);
            }

    })
       
    });

</script>
            






