﻿@model HRPayroll.Models.ViewModels.EmployeeListModel

@{
    ViewBag.Title = "ViewPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Search an Employee</h2>

<div style="width:100%; margin:auto">


    @using (Html.BeginForm())
    {
        <div class="row" style="margin-left: 4%;
    margin-top: 2%;
    border: 1px solid;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom:5%;
    width: 93%;">
            <div class="col-md-3" style="margin-left:1%;margin-top: -1%;">
                Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "from-control", style = "height: calc(3.25rem + 2px) !important;" })
            </div>
            <div class="col-md-1" style="margin-left: -5%; margin-top: 1%;">
                <input type="button" value="Go" class="btn btn-primary" id="btnGo" />
            </div>
            <div class="col-md-3" style="margin-top: 1%;">
                Department: 
                @if (ViewBag.Dep != null)
                {
                    var DeptId = ViewBag.Dep;
                    var DepartmentName = ViewBag.DeptName;
                    @Html.DropDownListFor(a => a.DepartmentId, Model.DepartmentList, new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
                }
                else
                {
                @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "from-control", style = "height: calc(3.25rem + 2px) !important;" })

                }
                
            </div>
            <div class="col-md-1" style="">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" style="margin-left: -1%; margin-top:22%;
    width: 100%;" />
            </div>
            <div class="col-md-2" style="margin-top: 1%;">
                <input name="term" placeholder="Search by name" class="form-control" />
            </div>
            <div class="col-md-2" style="margin-top: 1%;">
                <input type="submit" value="Search" class="btn btn-info" />

            </div>
        </div>
    }

    @if (Model.emplist == null)
    {
        @*<h2 style="text-align:center">No records found</h2>*@
        
        @*<ul class="pagination">
            @for (int i = 1; i <= Model.NumberOfPages; i++)
            {
                if (Model.Page == i)
                {
                    <li class="active"><a href="/Admin/ViewPerson?page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="/Admin/ViewPerson?page=@i">@i</a></li>
                }
            }

        </ul>*@
    }

    else
    {
        <table class="table table-striped">
            <tr>
                <th>
                    
                </th>
                <th>Employee Name</th>
                <th>Department Name</th>
                <th>Organisation Name</th>

            </tr>
            @foreach (var item in Model.emplist)
            {
            
                <tr>
                    @*<td>@item.EmpId</td>*@
                   <td><input type="hidden" value="@item.EmpId" /></td>
                    <td><a href="/Admin/ViewProfile?id=@item.EmpId">@item.Name</a></td>
                    
                    <td>@item.DeptName</td>
                    <td>@item.OrgName</td>

                    <td></td>
                </tr>
            }
        </table>
    }
</div>


<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#btnGo").click(function () {
        debugger
        var OrganisationId = $("#OrganisationId").val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Admin/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
    
