﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel


@{
    ViewBag.Title = "CasualLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>CasualLeave</h2>*@
<h2>Mark CL of Employee</h2>

<div style="width:50%">
    @using (Html.BeginForm())
    {
        <div class="row" style="margin-left: 3%;
    margin-top: 2%;">
            <div class="form-group">
                Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "", style = "width=3.25rem" })
            </div>
            <div class="form-group" style="margin-left: 2%;">
                Department: @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "", style = "width=3.25rem" })
            </div>
            <div class="form-group" style="margin-left: 2%;">
                <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
                <a href="/User/DepartmentSearch" class="btn btn-primary">All</a>
            </div>
        </div>
    }

</div>



@{
    int totalavailCL = Model.availCL;

}
<h3>Employees</h3>
@if (Model.empList.Count() < 1)
{
    <h5>No record found</h5>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Emergency_C</th>
                <th>Avail CL</th>
                <th>Encashed CL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.empList)
                {
                <tr>
                    <td id="@item.Emp_Id">@item.Name</td>
                    <td>@item.Phone</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.Gender</td>
                    <td>@item.Emergency_C</td>

                    <td>@item.availCL</td>
                    <td>@item.Casual_Leave</td>
                    <td><a href="MarkCl?id=@item.Emp_Id">Mark CL</a></td>

                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @* <li class="page-item"><a class="page-link" href="#">Previous</a></li>*@
            @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    if (i == Model.PageNumber)
                    {
                    <li class="page-item active"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Admin/CasualLeave?pageNumber=@i">@i</a></li>

                }
            }
            @*<li class="page-item"><a class="page-link" href="#">Next</a></li>*@
        </ul>
    </nav>


    <div class="form-group">
        @if (TempData["msg"] != null)
        {
            <span style="color:green">@TempData["msg"]</span>
        }
    </div>
}
</div>
<script src="~/scripts/jquery-1.12.4.min.js"></script>

<script>
    $("#OrganisationId").change(function () {
        debugger
        var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/User/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>
