﻿@model HRPayroll.Models.ViewModels.EmployeeDTO
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CreateEmployee", "Semi", FormMethod.Post, new { id = "frmEmp" }))
{

    <div style="width:50%;margin:auto">
        <h4>Employee Details</h4>
        <div class="form-group">
            Name: @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Name)</span>
        </div>

        <div class="form-group">
            Date of Birth: @Html.TextBoxFor(x => x.DOB, new { @class = "form-control datepicker", placeholder = "Date Format: DD/MM/YYYY" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DOB)</span>

        </div>
        <div class="form-group">
            Joining Date: @Html.TextBoxFor(x => x.Joining_Date, new { @class = "form-control datepicker", placeholder = "Date Format: DD/MM/YYYY" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Joining_Date)</span>
        </div>

        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrgId, Model.Organtizations, "Select Organization", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrgId)</span>

        </div>
        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DeptId, Model.Department, "Select Department", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DeptId)</span>

        </div>
        <div class="form-group">
            Gender: @Html.DropDownList("Gender", new List<SelectListItem>() { new SelectListItem() { Text = "Male", Value = "Male" }, new SelectListItem() { Text = "Female", Value = "Female", }
               }, "Select Gender", new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Gender)</span>
        </div>
        <div class="form-group">
            Address: @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Address)</span>
        </div>
        <div class="form-group">
            Phone: @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Phone)</span>

        </div>
        <div class="form-group">
            Mother's Name: @Html.TextBoxFor(x => x.Mother_Name, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Mother_Name)</span>
        </div>
        <div class="form-group">
            Father's Name: @Html.TextBoxFor(x => x.Father_Name, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Father_Name)</span>
        </div>
        <div class="form-group">
            Husband's/Wife Name: @Html.TextBoxFor(x => x.H_F_Name, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.H_F_Name)</span>

        </div>
        <div class="form-group">
            EmailID: @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Email)</span>
        </div>
        <div class="form-group">
            Emergency Conatct: @Html.TextBoxFor(x => x.Emergency_C, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Emergency_C)</span>
        </div>
        <div class="form-group">
            Aadhaar Number: @Html.TextBoxFor(x => x.Aadhar_Number, new { @class = "form-control" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.Aadhar_Number)</span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="form-group">
                @TempData["msg"]
            </div>
        }

        <div class="form-group">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Save" />
        </div>
        
    </div>
}


<link href="/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<link href="/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    


    <script type="text/javascript">

     $(document).ready(function () {
         $(".datepicker").datepicker();

     });
    </script>

<script>
    $("#btnSubmit").click(function () {
        var CurrentBtn = $(this);
        var msg = $("#msg");
        CurrentBtn.attr("disabled", "disabled");
        msg.text("wait...");
        var frmData = $("#frmEmp").Serialize
    });
</script>



  


