﻿@model HRPayroll.Models.ViewModels.EditAttendence

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:50%; margin:auto;">
    @using (Html.BeginForm())
    {<div>
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.OrganisationId)</span>
        </div>
        <div class="form-group">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Model.DepartmentList, "Select Department", new { @class = "form-control", style = "width=3.25rem" })
            <span style="color:red"> @Html.ValidationMessageFor(x => x.DepartmentId)</span>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Filter" />
        </div>
    </div>

    }

    <h3>Employees Attendence</h3>
    @if (Model.empList.Count() < 1)
    {
        <h5>No record found</h5>
    }
    else
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Attendence</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.empList)
                {
                    <tr>
                        <td>
                            <input id="id" type="hidden" value="@item.Id" />
                            @item.Name
                        </td>
                        <td>
                            @Html.DropDownList("Att_Id", Model.AttendenceList, "Select Any", new { @class = "form-control attendance", id = "Att_Id" })
                        </td>
                        <td><input id="date" type="date" class="form-group" /></td>
                        <td>
                            @*<img id="pic" src=""  style="display:none;height:20px;width:20px" />*@
                            <input type="button" class="btn btn-info btnAttendanceSubmit" value="submit" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <span id="msg1"></span>

    }
</div>

<script src="/scripts/jquery-1.12.4.js"></script>
<script>
    $(".btnAttendanceSubmit").click(function () {debugger
        var current = $(this);
        current.val("wait..");
        current.attr('disabled', 'disabled');
        //var img = current.siblings("#pic");
        //img.attr('src', '/images/loader.png');
        //img.show();
        var id = current.parent().siblings().find("#id").val();
        var att_id = current.parent().siblings().find('#Att_Id').val();
        var date = current.parent().siblings().find('#date').val();
        var frmData= JSON.stringify({
            EmpId:id,
            att_Id:att_id,
            Date:date
        });
        $.ajax({
            url: '/Admin/SaveAttendance',
            type: 'post',
            contentType:'application/json',
            data:frmData,
        }).then(function (response) {
            console.log(response);
            if (response == 'ok') {
                current.val('Saved');
            }
                //img.attr('src', '/images/correct.png');
            else {
                current.val('error');
                //img.attr('src', '/images/cancel.png');
                current.removeAttr("disabled");

            }

        }, function (error) {
            //img.attr('src', '/images/cancel.png');
            console.log(error.responseText);

        });
        // img.hide();


    });
</script>


@*<script>
        $("#btnSubmit").click(function () {
            var currentBtn = $(this);
            var msg = $("#msg");
            currentBtn.attr("disabled", "disabled");
            msg.text("wait...");
            var frmData = $("#frmEmp").serialize();
            $.ajax({
                url: '/Admin/EditAttendence',
                type: 'post',
                data: frmData,
                success:function(response)
                {
                    if(response=="ok")
                    {
                        msg.text("Successfully added").css("color", "green");
                        $("input[type='text']").val("");
                    }
                    else
                    {
                        msg.text(response).css("color", "red");
                    }
                    currentBtn.removeAttr("disabled");
                },
                error:function(response)
                {
                    msg.text("Internal server error").css("color", "red");
                    currentBtn.removeAttr("disabled");
                    console.log(response.responseText);
                }
            });
        });
    </script>*@