﻿@model HRPayroll.Models.ViewModels.IssueAdvance
@{
    ViewBag.Title = "IssueAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Issue Advance</h2>
<div style="margin:auto; width:80%;">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">
                <input name="term" placeholder="Search by name" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-info" />
                <a href="/Semi/IssueAdvance" class="btn btn-primary">All</a>
            </div>

            @*<div class="col-md-1"><a href="/Product/Add" class="btn btn-primary">Add more</a></div>*@
        </div>
    }
</div>
    @*<div class="row" style="margin-left: 3%;
    margin-top: 2%;">
        <div class="form-group">
            Organization: @Html.DropDownListFor(x => x.OrganisationId, Model.OrganizationList, "Select Organization", new { @class = "" })
        </div>
        <div class="form-group" style="margin-left: 2%;">
            Department: @Html.DropDownListFor(x => x.DepartmentId, Enumerable.Empty<SelectListItem>(), "Select Department", new { @class = "" })
        </div>
        <div class="form-group" style="margin-left: 2%;">
            <input type="submit" id="btnSubmit" class="btn btn-primary" value="Filter" />
            <a href="/Admin/DepartmentSearch" class="btn btn-primary">All</a>
        </div>
    </div>*@
}

<div class="row" style="margin:auto; width:80%;">
    @Html.HiddenFor(a => a.EmpId)
    <table class="table table-striped">
        <tr>
            <th>Employee Name</th>
            <th>Issue Advance(Total)</th>
            <th>Advance Due(Total)</th>
            <th>Action</th>
        </tr>
        <tbody>
            @foreach (var item in Model.advIssue)
            {

                <tr>
                    <td>
                        <input type="hidden" value="@item.Emp_Id" />
                        @item.empName
                    </td>
                    <td>@item.Issue_Advance</td>
                    <td>@item.AdvanceDue</td>
                    <td><a href="/Admin/markAdvance?Empid=@item.Emp_Id" class="btn btn-primary">Change</a></td>

                </tr>

            }

        </tbody>
    </table>

</div>

<script src="~/scripts/jquery-1.12.4.min.js"></script>
<script>
    $("#OrganisationId").change(function () {
        var OrganisationId = $(this).val();
        var deptId = $("#DepartmentId");
        deptId.empty();
        deptId.append("<option value=''> Select Department </option>");
        $.ajax({
            url: "/Semi/GetDepartmentsByOrgId?OrgnisationId=" + OrganisationId,
            type: "get",
            success: function (response) {
                //  console.log(response);
                //$.each(response, function (key, value) {
                //    deptId.append("<option value= '" + value.DeptId + "'>" + value.DeptName + "</option>");

                //});
                if (response.length > 0) {
                    for(let i=0;i<response.length;i++)
                    {
                        deptId.append("<option value= '" + response[i].DeptId + "'>" + response[i].DeptName + "</option>");

                    }
                }
            },
            error: function(error){

                console.log(error.responseText);
            }
        });
    });

</script>


