﻿@model HRPayroll.Models.ViewModels.IssueAdvance
@{
    ViewBag.Title = "markAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Mark Advance</h2>
<div class="row" style="margin:auto; width:80%">
    @using (Html.BeginForm())
    {
        <table class="table table-striped">

            @foreach (var item in Model.advIssue)
            {
                <tbody>
                    <tr>
                        <th>EmpName</th>

                        @Html.HiddenFor(a => a.EmpId)
                        <td> <input type="hidden" value="@item.Emp_Id" />@item.empName</td>
                    </tr>
                    <tr>
                        <th>Advance(Total)</th>
                        <td>@item.Issue_Advance</td>
                    </tr>
                    <tr>
                        <th>Advance Due (Total)</th>
                        <td>@item.AdvanceDue</td>
                    </tr>
                    <tr>
                        <th>Issue Advance</th>
                        <td>@Html.TextBoxFor(a => a.Issue_Advance)</td>
                    </tr>

                    <tr>
                        <th>Advance Due</th>
                        <td>@Html.TextBoxFor(a => a.AdvanceDue)</td>
                    </tr>
                    <tr>
                        <td><a href="/Admin/Admin" class="btn btn-primary">Move</a></td>
                        <td><input type="submit" class="btn btn-primary" value="Submit" /></td>
                    </tr>

                </tbody>
            }
        </table>
    }

</div>
