﻿@model HRPayroll.Models.ViewModels.LeavesRetrunModel


@{
    ViewBag.Title = "MarkCl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MarkCl</h2>

@using (Html.BeginForm())
{
    <table class="table table-striped">
        <tr>
            <th>Employee Name</th>
            <th>Encashed Leaves</th>
            <th>Avail CL</th>
            <td>Mark Avail CL </td>
            <td>Mark Encashed CL</td>

        </tr>
        @foreach (var item in Model.empList)
        {
            <tbody>
                <tr>

                    <td>
                        @Html.HiddenFor(a => a.empId)
                        <input type="hidden" value="@item.Emp_Id" />@item.Name
                    </td>

                    <td><input id="cls" disabled="disabled" value="@item.Casual_Leave" /></td>
                    <td><input id="cl" disabled="disabled" value="@item.availCL" /></td>
                    <td>@Html.TextBoxFor(a => a.availCL)</td>
                    <td>@Html.TextBoxFor(a => a.CasualLeaves)</td>
                    <td><input type="submit" id="btnSubmit" value="update" class="btn btn-primary" /></td>
                </tr>
            </tbody>

        }
    </table>
    @TempData["msg"];
}
<script src="/scripts/jquery-1.12.4.js"></script>

@*<script>
        $("#btnSubmit").click(function () {
            debugger
            var current = $(this);
            var empid = current.parent().siblings().find("#id").val();
            var availcl = current.parent().siblings().find("#cl").val();
            var updateCL = current.parent().siblings().find('#updatecls').val();
            var Data = JSON.stringify({
                empid: empid,
                availcl: availcl,
                updateCL: updateCL
            });
            $.ajax({
                url: '/Admin/MarkCls',
                type: 'post',
                contentType:'application/json',
                data:Data,
            }).then(function (response) {
                console.log(response);
                response = availcl + CL;
                if (response == 'Ok') {
                    current.val('saved');
                }
            },
                function (error) {
                     console.log(error.responseText);
            });
        });
    </script>*@

@*<script>

        var targets;

        $(document).ready(function () {
            targets = $(".toAdd");
            targets.blur(add);
            $("#frm").submit(add);
        })

        function add() {
            var total = 0;

            targets.each(function (i, e) {
                if (!isNaN(e.value)) {
                    total += parseInt(e.value);
                }
            });

            $("#Number3").val(total);
        }
    </script>*@