﻿
@{
    ViewBag.Title = "Semi Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .dibba {
        border: 1px solid;
        height: 50%;
    }
</style>

<div class="row" style="width:97.6%; margin:auto; height:445px;">
    <div class="col-md-6 dibba">
        <div>
            <p>
                <h4 style="text-align:center;">All User</h4>
            </p>
        </div>
        <hr />
        <table style="margin-left: 30%;">


            <tr><td><a href="/Semi/DepartmentSearch">View Department</a></td></tr>
            <tr><td><a href="/Semi/ViewPerson">Search A Person</a></td></tr>
            @*<tr><td><a href="">View Monthly Attendence </a></td></tr>*@
            <tr><td><a href="/Semi/ViewAttendece">View Monthly Attendence  </a></td></tr>
            @*<tr><td><a href="/Semi/ViewAdvance">View Advance Given  </a></td></tr>*@
            <tr><td><a href="#">Edit Favorites</a></td></tr>

        </table>
        <!--<p style="text-align:center">All Users</p>-->
    </div>
    <div class="col-md-6 dibba">
        <div>
            <p>
                <h4 style="text-align:center;">Semi Admin + Admin</h4>
            </p>
        </div>
        <hr />
        <table style="margin-left:30%;">
            <tr><td><a href="/Semi/CasualLeave">Mark CLs for a Month</a></td></tr>
            <tr><td><a href="/Semi/IssueAdvance">Issue Advance</a></td></tr>
            <tr><td><a href="/Semi/EditAttendence">Mark Attendence for a Day</a></td></tr>
            <tr><td><a href="/Semi/CreateEmployee">Enroll New Employee</a></td></tr>

        </table>
        <!--<p style="text-align:center">Semi Admin + Admin</p>-->
    </div>
    
</div>


