﻿@model HRPayroll.Models.ViewModels.IssueAdvance
@{
    ViewBag.Title = "ViewAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Advance</h2>
 <table>
     <tr>
         <th>Employee Name</th>
         <th>Issue's Advance</th>
         <th>Advance Given</th>
     </tr>
     <tbody>
         @foreach (var item in Model.advIssue)
         {
            <tr>
                <td>@item.empName</td>
                <td>@item.Issue_Advance</td>
                <td>@item.AdvanceDue</td>
            </tr>

         }
            </tbody>
 </table>
