﻿@model IEnumerable<HRPayroll.Models.ViewModels.EmployeeAtt>
@{
    ViewBag.Title = "ViewAttendece";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DaysInmonth = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
}

<h2 style="text-align:center">View Attendece Given</h2>
@*@using (Html.BeginForm())
    {
        <div class="margin:auto; width:50">
            <input type="date" name="date" />
           <input type="submit" class="btn btn-primary" value="Look"/>

        </div>

    }*@


<table class="table table-bordered" style="overflow-x:auto">
    <thead>
        <tr>
            <th>Emp Name</th>
            <!--Loop all the days of month and print it-->
            @for (var numb = 1; numb <= DaysInmonth; numb++)
            {
                <th>@numb</th>
            }

        </tr>
    </thead>
    <tbody>
        <!--Loop model-->
        @foreach (var emp in Model)
        {
            <tr>

                <td>@emp.Emp_Name</td>


                @for (var numb = 1; numb <= DaysInmonth; numb++)
                {
                    <td>

                        @{

                            var GetThatValue = Model.Where(a => a.Date.Value.Day == numb && a.Emp_Name == emp.Emp_Name && a.Date.Value == emp.Date).FirstOrDefault();
                            var DD = GetThatValue != null ? GetThatValue.Attendence.ToString() : "";
                            <text> @DD </text>
                        }
                    </td>
                            }






            </tr>
                            }
    </tbody>
</table>



