#contactform {  
  width: 400px;
  left: -405px;
  height: 500px;
  margin: 25px 0;
  position: fixed;
  box-shadow: 0 0 12px 0 #333;  
}
#contactRight {  
  width: 42px;
  right:0px;
  height: 202px;
  margin: 71px 0;
  box-shadow: 0 0 12px 0 #333;  
  position: fixed;
  
 
}


#contact-button { 
  width: 11%;  
  padding: 7% 3%;  
  cursor: pointer;
  margin-left: 400px;
  margin-top: 40px;
  font-size: 23px; 
  color: white;  
  position: absolute;
}

#contact-buttonRight { 
  width: 11%;  
  padding: 7% 3%;  
  cursor: pointer;
  margin-left: 400px;
  margin-top: 71px;
  font-size: 23px; 
  color: white;  
  position:relative;
  float:right;
}


#contactform, #contact-button {
  background-color: #e8333a;
  border-radius: 0 15px 15px 0; 
  border: 5px solid #666666; 
  border-left: none;
  z-index: 99;
}
#contactRight, #contact-buttonRight {
  background-color: #e8333a;
  border-radius: 15px 0px 0px 15px; 
  border: 5px solid #666666; 
  border-right: none;
      z-index: 99;
}

.rotated-text {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
       -moz-transform: translate(1.1em,0) rotate(90deg);
         -o-transform: translate(1.1em,0) rotate(90deg);
            transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;*/
   /* IE9+ */
   -ms-transform: none;
   -ms-transform-origin: none;
   /* IE8+ */
   -ms-writing-mode: tb-rl;
   /* IE7 and below */
   *writing-mode: tb-rl;
}


.rotated-textRight {
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
       -moz-transform: translate(1.1em,0) rotate(90deg);
         -o-transform: translate(1.1em,0) rotate(90deg);
            transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
       -moz-transform-origin: 0 0;
         -o-transform-origin: 0 0;
            transform-origin: 0 0;
   /* IE9+ */
   -ms-transform: none;
   -ms-transform-origin: none;
   /* IE8+ */
   -ms-writing-mode: tb-rl;
   /* IE7 and below */
   *writing-mode: tb-rl;
   font-size:23px;
       margin-top: 23px;
    margin-left: 10px;
}



.rotated-text:before {
    content: "";
    float: left;
    margin-top: 100%;
}
.rotated-textRight:before {
    content: "";
    float: right;
    margin-top: 100%;
}


form {
  width: 100%;
}

form input {
  display: block;
  border: none;
  width: 300px;
  height: 35px; 
  margin: 15px 30px;  
}

form textarea {
  width: 300px;
  margin: 40px 30px;
  height: 170px;
}

form textarea, form input { 
  border: 3px solid #666666;
  border-radius: 5px;
  background: #f2f2f2;  
}