﻿@model HRPayroll.Models.ViewModels.LoginDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HR Payroll</title>
    <script src="~/scripts/bootstrap.bundle.js"></script>
    <script href="~/scripts/bootstrap.bundle.js.map"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <script href="~/scripts/bootstrap.bundle.min.js.map"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script href="~/scripts/bootstrap.js.map"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script href="~/scripts/bootstrap.min.js.map"></script>
    <link href="/Styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Styles/style.css" rel="stylesheet" />

</head>
<body>
    <div class="header-w3l">
    </div>
    <!--//header-->
    <div class="main-content-agile">
        <div class="sub-main-w3">

            <form action="#" method="post">
                <label>Username</label>
                <div class="pom-agile">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input placeholder="UserName" name="Username" class="user" type="text" required="">
                </div>
                <label>Password</label>
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="Password" style="color:black" name="Passwrd" class="pass" type="password" required="">
                </div>
                 <span style="color:aqua">@ViewData["msg"]</span>
                
                <div class="right-w3l">
                    <input type="submit" value="Signin">
                </div>
            </form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>
            &copy; 2018  All rights reserved

        </p>
    </div>
    <!--//footer-->

          


</body>
</html>
